/*
# Account
*/
section.dashboard {
	padding:20px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div#welcome {
		max-width:800px;
		margin:0 auto;
		padding:30px 0 50px 0;
		text-align:center;
		h2 {
			padding:0 0 30px 0;
			font-size:30px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
		}
		p {
			padding:0 0 20px 0;
			font-size:18px;
			a {
				text-decoration:underline;
			}
		}
	}
	div.title {
		min-height:57px;
	}
	div.thumb {
		float:left;
		width:108px;
		margin:0 0 0 0;
		position:relative;
		height:90px;
		margin:0 0 10px 0;
		overflow:hidden;
		@include boxShadow(5px, #c4c2c2);
		span {
			position:absolute;
			left:0;
			top:0;
			display:block;
			width:100%;
			height:100%;
			-moz-transform: translate(50%,50%);
			-ms-transform: translate(50%,50%);
			-o-transform: translate(50%,50%);
			transform: translate(50%,50%);
			img {
				display:block;
				position:absolute;
				left:0;
				top:0;
				border:none;
				max-height:90px;
				width:auto;
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
		div.noImage {
			height:100%;
			padding:30px 0 0 0;
			text-align:center;
			border:1px solid #FFF;
			background:#f1f1f1;
			span {
				position:static;
			}
		}
	}
	div.notifications {
		padding:20px;
		color:#31708f;
		margin:0 0 20px 0;
		border:1px solid #bce8f1;
		background:#d9edf7;
		@include roundedCorners(5px);
		a {
			color:#31708f;
			text-decoration:underline;
			&:hover {
				color:#31708f;
			}
		}
	}
	div.villasSelect {
		float:left;
		div.selectVilla {
			margin:0 0 10px;;
			padding:5px 10px;
			background:#f1f1f1;
			@include roundedCorners(5px);
			input {
				margin:0 10px 0 0;
			}
		}
		div.selectVilla:last-child {
			margin:0;
		}
	}
}
div.rowDelete {
	input {
		float:left;
		margin:0 10px 0 0;
		padding:3px 15px;
		font-size:18px;
		background:#b45351;
	}
	input:hover {
		background:#a94442;
	}
	a.button {
		padding:4px 15px;
		font-size:18px;
	}
}


section#dashboard {
	div.accountDetails {
		padding:20px;
		margin:0 0 20px 0;
		border:1px solid #f0f0dd;
		background:#fafaf2;
		@include roundedCorners(5px);
		ul {
			li {
				font-size:16px;
			}
		}
		div.accountEmails {
			span {
				display:inline-block;
				padding:0 20px 0 0;
			}
			.fa-check {
				color:#66bb00;
			}
			.fa-times {
				color:#a94442;
			}
		}
		a.edit {
			float:right;
			font-size:16px;
		}
		form {
			div.row {
				padding:0 0 30px 0;
				label {
					display:block;
					float:left;
					width:150px;
					padding:0 20px 0 0;
				}
				label.emails {
					display:inline-block;
					width:auto;
				}
				input.text {
					padding:4px 10px;
					width:400px;
					font-size:16px;
					font-weight:normal;
					border:none;
					background:#FFF !important;
					border:1px solid #CCC;
					@include roundedCorners(5px);
				}
			}
			div.rowSubmit {
				padding:0;
				border-bottom:none;
				input {
					display:inline-block;
					padding:5px 10px;
					font-size:16px;
					color:#f1f1f1;
					cursor:pointer;
					border:none;
					background:#398bce;
					@include roundedCorners(5px);
					@include transitionAllQuick();
				}
				input:hover {
					background:#2d6ea3;
				}
				input#removeAccount {
					float:left;
					margin-right:20px;
					background:#b45351;
				}
				input#removeAccount:hover {
					background:#a94442;
				}
				a.cancelRemove {
					float:left;
					font-size:16px;
				}
				ul {
					padding:10px 0 0 0;
					float:right;
					li {
						float:left;
						padding:0 0 0 10px;
						a {
							font-size:16px;
						}
						a.remove {
							background:#b45351;
						}
						a.remove:hover {
							background:#a94442;
						}
					}
				}
			}
		}
	}
	div.section {
		position:relative;
		float:left;
		width:49%;
		margin-right:2%;
		padding:15px 20px;
		border:1px solid #f0f0dd;
		background:#fafaf2;
		@include roundedCorners(5px);
		div.body {
			min-height:200px;
		}
		ul.enquiries {
			li {
				padding:0 0 15px 0;
				margin:0 0 15px 0;
				font-size:16px;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				span.date {
					display:block;
					padding:0 0 5px 0;
				}
				span.enquiry {
					font-size:16px;
					font-weight:normal;
				}
				div.details {
					a {
						float:right;
						padding:4px 15px;
						color:#FFF;
						font-size:16px;
						background:#398bce;
						@include roundedCorners(5px);
					}
					a:hover {
						background:#2d6ea3;
						text-decoration:none;
					}
					span {
						display:block;
					}
				}
			}
		}
		h2 {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			color:#9fc0db;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			background:url("/assets/images/bg-dots.png") repeat-x left bottom;
		}
		div.noItems {
			text-align:center;
			p {
				padding:20px 0 20px 0;
				font-size:18px;
				font-weight:normal;
			}
			a.button {
				font-size:18px;
				padding:5px 10px;
			}
		}
		div.viewAll {
			text-align:center;
			a {
				padding:5px 15px;
				font-size:16px;
			}
		}
	}
	div.section:hover {
		a.edit {
			display:block;
		}
	}
	div.editMode:hover {
		a.edit {
			display:none;
		}
		a.cancelEdit {
			display:block;
		}
	}
	div.section:last-child {
		margin-right:0;
	}
	ul {
		li {
			padding:0 0 15px 0;
			font-size:14px;
			list-style:none;
			span.label {
				float:left;
				width:60px;
			}
		}
	}
	div.enquiries {
		ul {
			li {
				padding:0 0 10px 0;
				a:hover {
					text-decoration:underline;
				}
			}
		}
	}
	div.villas {
		div.villa {
			padding:0 0 20px 0;
			div.thumb {
				margin:0 15px 0 0;
			}
			/*div.thumb {
				position:relative;
				float:left;
				width:120px;
				height:100px;
				overflow:hidden;
				margin-right:20px;
				@include boxShadow(5px, #c4c2c2);
				a {
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					display:block;
					-moz-transform: translate(50%,50%);
					-ms-transform: translate(50%,50%);
					-o-transform: translate(50%,50%);
					transform: translate(50%,50%);
					img {
						display:block;
						position:absolute;
						left:0;
						top:0;
						border:none;
						max-height:100px;
						width:auto;
						opacity:0.9;
						@include boxShadow(5px, #c4c2c2);
						-moz-transform: translate(-50%,-50%);
						-ms-transform: translate(-50%,-50%);
						-o-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
					}
				}
			}*/
			div.alert {
				float:left;
				padding:3px 10px;
				h4 {
					padding:0;
					font-size:15px;
					font-weight:normal;
				}
			}
			h3 {
				padding:0 0 15px 0;
				font-size:16px;
				font-weight:normal;
			}
			ul.options {
				float:right;
				li {
					padding:0 0 5px 0;
					padding:0 10px 0 0;
					float:left;
					list-style:none;
					a {
						font-size:14px;
						font-weight:normal;
						font-size:14px;
					}
				}
				li:last-child {
					padding-right:0;
				}
			}
		}
	}
}
section.reSendActivation {
	form {
		padding:30px 0 0 0;
	}
}
section.support {
	p {
		padding:0 0 20px 0;
	}
	form {
		padding:20px 0;
		div.row {
			padding:0 0 20px 0;
			label {
				float:left;
				width:150px;
				font-size:20px;
			}
			input.text {
				display:block;
				padding:5px 10px;
				width:400px;
				font-size:20px;
				border:1px solid #CCC;
				@include roundedCorners(5px);
			}
			textarea {
				padding:5px 10px;
				width:400px;
				font-size:20px;
				border:1px solid #CCC;
				@include roundedCorners(5px);
			}
			input#submitSupport {
				padding:10px 30px;
				font-size:40px;
				cursor:pointer;
				font-weight:normal;
				font-size:20px;
				color:#f1f1f1;
				border:none;
				background:#398bce;
				@include boxShadow(5px, #CCC);
				@include roundedCorners(5px);
				@include transitionAllQuick();
			}
			input#submitSupport:hover {
				background:#2d6ea3;
			}
		}
	}
}