/*
# Villa
*/
div#communityMap {
	height:700px;
	margin:0 0 20px 0;
}
div#community {
	padding:15px 20px;
	margin:0 0 20px 0;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	h1 {
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		font-weight:normal;
		font-family:'Dancing Script', cursive;
		color:#9fc0db;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
	}
	a.villa {
		position:relative;
		display:inline-block;
		width:218px;
		height:180px;
		margin-right:20px;
		margin-bottom:20px;
		overflow:hidden;
		@include boxShadow(7px, #BBB);
		div.thumb {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:block;
			-moz-transform: translate(50%,50%);
			-ms-transform: translate(50%,50%);
			-o-transform: translate(50%,50%);
			transform: translate(50%,50%);
			img {
				display:block;
				position:absolute;
				left:0;
				top:0;
				border:none;
				max-height:180px;
				width:auto;
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
		}
		div.details {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding:10px;
			text-align:left;
			font-weight:normal;
			color:#FFF;
			opacity:0;
			background:#333;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			a {
				color:#FFF;
			}
		}
	}
	a.villa.end {
		margin-right:0;
	}
	a.villa:hover {
		div.details {
			opacity:0.8;
		}
	}
	/*a.villa {
		position:relative;
		display:inline-block;
		width:200px;
		height:150px;
		margin-right:20px;
		overflow:hidden;
		@include boxShadow(7px, #999);
		div.thumb {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:block;
			-moz-transform: translate(50%,50%);
			-ms-transform: translate(50%,50%);
			-o-transform: translate(50%,50%);
			transform: translate(50%,50%);
			img {
				display:block;
				position:absolute;
				left:0;
				top:0;
				border:none;
				max-height:150px;
				width:auto;
				opacity:0.9;
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
		}
		div.details {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding:10px;
			text-align:left;
			font-weight:normal;
			color:#FFF;
			opacity:0;
			background:#333;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			a {
				color:#FFF;
			}
		}
	}
	a.villa:hover {
		div.details {
			opacity:0.8;
		}
	}*/
}