/*
# Forgot Password
*/
div#forgotPasword {
	max-width:400px;
	margin:0 auto;
	padding:50px 0;
	form {
		div.row {
			padding:0 0 20px 0;
			label {
				display:block;
				padding:0 0 20px 0;
				font-size:26px;
			}
			input.text {
				display:block;
				width:100%;
				padding:4px 10px;
				margin:0 0 15px 0;
				font-size:26px;
				line-height:1.4em;
				border:1px solid #DCDCDC;
				background:#fff;
				@include roundedCorners(5px);
			}
		}
		div.rowSubmit {
			text-align:center;
			input {
				display:inline-block;
				color:#f1f1f1;
				font-size:30px;
				font-weight:normal;
				padding:10px 40px;
				cursor:pointer;
				border:none;
				background:#398bce;
				@include roundedCorners(5px);
				@include boxShadow(5px, #cccccc);
				@include transitionAllQuick();
			}
			input:hover {
				background:#2d6ea3;
			}
		}
	}
}