/*
# Generic Content
*/
div.genericContent {
	padding:20px;
	max-width:840px;
	min-height:400px;
	margin:0 auto 25px auto;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
}