/*
# Home Page
****************************************************************
*/
div#homeBanner {
	position:relative;
	height:600px;
	border-bottom:1px solid #FFF;
	background-image:url('/assets/images/banner-desktop.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	z-index:1;
	div.bannerOverlay {
		position:absolute;
		left:0;
		top:0;
		height:100%;
		width:100%;
		background-color: rgba(black, 0.5);
		-webkit-transition: opacity 1s ease;
		-moz-transition: opacity 1s ease;
		-o-transition: opacity 1s ease;
		transition: opacity 1s ease;
		div.text {
			padding:250px 20px;
			text-align:center;
			font-size:70px;
			color:#E7F3FD;
			text-shadow:1px 1px 8px #333;
			h1 {
				padding:0 0 20px 0;
				font-size:44px;
				line-height:0.6em;
				font-weight:normal;
				font-weight:300;
				br {
					display:none;
				}
			}
			h3 {
				padding:0 0 20px 0;
				font-weight:normal;
				font-size:34px;
				/*display:none;*/
			}
			a {
				display:inline-block;
				padding:0 15px 4px 15px;
				font-weight:normal;
				color:#E7F3FD;
				font-size:30px;
				border:1px solid #FFF;
			}
			a i {
				font-size:20px;
			}
		}
	}
}
div#homeRecommended {
	padding:20px 0;
	margin:0 0 20px 0;
	text-align:center;
	background:#38444a;
	div#homeSliderConstrain {
		width:1100px;
		margin:0 auto;
		div#homeSlider {
			a.villa {
				position:relative;
				display:inline-block;
				width:245px;
				height:200px;
				margin-right:20px;
				overflow:hidden;
				@include boxShadow(7px, #333);
				div.thumb {
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					display:block;
					-moz-transform: translate(50%,50%);
					-ms-transform: translate(50%,50%);
					-o-transform: translate(50%,50%);
					transform: translate(50%,50%);
					img {
						display:block;
						position:absolute;
						left:0;
						top:0;
						border:none;
						max-height:200px;
						width:auto;
						opacity:0.9;
						-moz-transform: translate(-50%,-50%);
						-ms-transform: translate(-50%,-50%);
						-o-transform: translate(-50%,-50%);
						transform: translate(-50%,-50%);
					}
				}
				div.details {
					position:absolute;
					left:0;
					top:0;
					width:100%;
					height:100%;
					padding:10px;
					text-align:left;
					font-weight:normal;
					color:#FFF;
					opacity:0;
					background:#333;
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
					a {
						color:#FFF;
					}
				}
			}
			a.villa:hover {
				div.details {
					opacity:0.8;
				}
			}
		}
	}
}
h2.homeAdvertise {
	padding:30px 0;
	font-size:40px;
	text-align:center;
	font-weight:normal;
	font-family:'Dancing Script', cursive;
	color:#9fc0db;
}
@media screen and (max-width: 1043px) {
	
	div#homeBanner {
		height:400px;
		background-image:url('/assets/images/banner-tablet.jpg');
		div.bannerOverlay {
			div.text {
				padding-top:150px;
			}
		}
		/*div.text {
			padding:170px 0 0 0;
			h1 {
				font-size:45px;
			}
			h3 {
				font-size:24px;
			}
		}*/
	}

}
@media screen and (max-width: 788px) {
	div#homeBanner {
		div.text {
			h1 {
				font-size:35px;
			}
		}
	}
}
@media screen and (max-width: 580px) {
	div#homeBanner {
		height:260px;
		background-image:url('/assets/images/banner-mobile.jpg');
		div.bannerOverlay {
			div.text {
				padding:45px 20px 0 20px;
				h1 {
					font-size:28px;
					line-height:1.5em;
					br {
						display:block;
					}
				}
				h3 {
					font-size:16px;
				}
				a {
					font-size:20px;
					i {
						font-size:15px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1100px) {
	div#homeRecommended {
		div#homeSliderConstrain {
			width:800px;
			div#homeSlider {
				a.villa {
					box-shadow:none;
					&:hover {
						div.details {
							display:none;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 900px) {
	div#homeRecommended {
		div#homeSliderConstrain {
			width:540px;
		}
	}
}
@media screen and (max-width: 788px) {
	div#homeRecommended {
		div#homeSliderConstrain {
			/*width:440px;*/
		}
	}
}
@media screen and (max-width: 585px) {
	div#homeRecommended {
		div#homeSliderConstrain {
			width:245px;
		}
	}
}