div#mapMainCommunities {
	position:fixed;
	right:-250px;;
	top:130px;
	padding:15px 15px 15px 15px;
	width:250px;
	background:#FFF;
	@include boxShadow(5px, #ccc);
	@include transitionAllQuick();
	border:1px solid #FFF;
	background: rgba(250, 250, 242, 1);
	-webkit-radius:5px 0 0 5px;
	-moz-border-radius:5px 0 0 5px;
	-o-border-radius:5px 0 0 5px;
	border-radius:5px 0 0 5px;
	a.toggle {
		position:absolute;
		left:-80px;
		top:20px;
		display:block;
		padding:10px;
		width:80px;
		text-align:center;
		font-size:30px;
		border:1px solid #FFF;
		
		border-width:1px 0 1px 1px;
		background: rgba(250, 250, 242, 0.9);
		-webkit-radius:5px 0 0 5px;
		-moz-border-radius:5px 0 0 5px;
		-o-border-radius:5px 0 0 5px;
		border-radius:5px 0 0 5px;
		span {
			display:block;
			width:60px;
			height:50px;
			padding:1px 0 0 0;
			margin:0 auto;
			color:#FFF;
			background:#398bce;
			@include roundedCorners(3px);
		}
		span:hover {
			background:#2d6ea3;
		}
		i.fa-arrow-right {
			display:none;
		}
	}
	h2 {
		padding:0 0 18px 0;
		margin:0 0 15px 0;
		font-weight:normal;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
	}
	ul {
		height:400px;
		overflow-x:none;
		overflow-y:scroll;
		li {
			a {
				font-weight:normal;
			}
			a:hover {
				text-decoration:underline;
			}
		}	
	}
}
div#mapMainVillas {
	position:fixed;
	left:0;
	right:0;
	bottom:-250px;
	height:250px;
	padding:20px;
	background:rgba(255,255,255,0.6);
	/*background:rgba(0,0,0,0.5);*/
	background: rgba(250, 250, 242, 0.7);
	@include transitionAllQuick();
	@include boxShadow(5px, #ccc);
	h2 {
		font-weight:normal;
		padding:0 0 20px 0;
	}
	a.villa {
		position:relative;
		display:block;
		float:left;
		margin:0 20px 20px 0;
		width:200px;
		height:150px;
		margin-right:20px;
		overflow:hidden;
		@include boxShadow(5px, #999);
		div.thumb {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:block;
			-moz-transform: translate(50%,50%);
			-ms-transform: translate(50%,50%);
			-o-transform: translate(50%,50%);
			transform: translate(50%,50%);
			img {
				display:block;
				position:absolute;
				left:0;
				top:0;
				border:none;
				max-height:150px;
				width:auto;
				opacity:0.9;
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
			}
		}
		div.details {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			padding:10px;
			text-align:left;
			font-weight:normal;
			color:#FFF;
			opacity:0;
			background:#333;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
			p {
				font-weight:normal;
				font-family:$openSans;
				font-size:16px;
				color:#FFF;
			}
		}
	}
	a.villa:hover {
		div.details {
			opacity:0.8;
		}
	}
}
div#mapMainVillas.open {
	bottom:0;
}
div.mapInfoWindow {
	padding:10px 0 10px 10px;
	h3 {
		width:250px;
		padding:0 0 20px 0;
		margin:0 0 10px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		a {
			font-size:20px;
			font-weight:normal;
			font-family:$openSans;
			font-weight:normal;
		}
	}
	div.villas {
		height:200px;
		padding:5px;
		overflow-x:none;
		overflow-y:scroll;

	}
}
div#mapControls {
	position:fixed;
	left:20px;
	top:120px;
	display:inline-block;
	padding:15px;
	background: rgba(250, 250, 242, 0.7);
	@include roundedCorners(5px);
	a {
		display:inline-block;
		padding:15px 30px;
		font-size:30px;
		font-weight:normal;
		color:#FFF;
		text-decoration:none;
		background:#398bce;
		@include roundedCorners(5px);
	}
	a:hover {
		background:#2d6ea3;
	}
	a:first-child {
		margin-right:12px;
	}
}
div#mapMainCommunities.open {
	right:0;
	a.toggle {
		i.fa-arrow-right {
			display:inline;
		}
		i.fa-arrow-left {
			display:none;
		}
	}
}