/*
# Search Side
*/
@media screen and (min-width: 1023px) {
	section#search {
		div#searchSideMobile {
			top:110px;
		}
	}
}
section#search {
	div#searchSideMobile {
		width:8%;
		display:none;
		position:fixed;
		left:0;
		z-index:999;
		a {
			display:block;
			height:50px;
			line-height:50px;
			text-align:center;
			color:#FFF;
			background:#398bce;
			@include roundedCornersRight(10px);
			@include boxShadow(5px, #dddddd);
			&:hover {
				background:#2d6ea3;
			}
			span.icon {
				float:none;
				width:auto;
				margin:0;
			}
			span.label {
				display:none;
			}
		}
	}
	div#searchSide {
		float:left;
		width:25%;
		padding:15px 15px;
		margin:0 0 15px 0;
		background:#FFF;
		@include roundedCorners(5px);
		@include boxShadow(5px, #dddddd);
		a.close {
			position:absolute;
			right:20px;
			top:20px;
		}
		div.check {
			padding:0 0 15px 5px;
			margin:0 0 15px 0;
			background:url('/assets/images/bg-dots.png') repeat-x bottom left;
			label {
				display:inline-block;
				position:relative;
				padding:0 15px 0 40px;
				margin:0 10px 0 0;
				font-size:16px;
				font-weight:normal;
				cursor:pointer;
				text-align:center;
			   	@include roundedCorners(3px);
				-webkit-transition: padding 0.3s ease;
				-moz-transition: padding 0.3s ease;
				-o-transition: padding 0.3s ease;
				transition: padding 0.3s ease;
				i {
					position:absolute;
					left:10px;
					top:6px;
					font-size:14px;
					@include transitionAllQuick();
				}
				i.fa-check {
					display:none;
					color:#66BB00;
				}
				i.fa-square-o {
					display:block;
				}
			}
			label:hover {
				opacity:0.9;
			}
			label.selected {
				i.fa-check {
					display:block;
				}
				i.fa-square-o {
					display:none;
				}
			}
		}
		div.row {
			padding:0 0 10px 0;
		}
		h2 {
			padding:0 0 15px 10px;
			font-size:22px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			/*color:#9fc0db;*/
			span.icon {
				display:none;
			}
		}
		div.dates {
			padding:0 0 0 7px;
			p {
				padding:0 0 20px 0;
				font-weight:normal;
				font-size:15px;
			}
			label {
				float:left;
				width:50px;
				padding:10px 0 0 0;
				font-weight:normal;
				font-size:14px;
			}
			input {
				font-size:16px;
				font-weight:bold;
				padding:5px 10px;
				width:120px;
				border:1px solid #DCDCDC;
				background:#FFF;
			}
			div.rowClearDates {
				display:none;
				padding:10px 0;
				text-align:center;
				a {
					display:inline-block;
					padding:4px 15px;
					color:#FFF;
					background:#398bce;
					@include roundedCorners(5px);
				}
				a:hover {
					background:#2d6ea3;
				}
			}
		}
		div.applyFilters {
			display:none;
			padding:10px;
			a {
				display:block;
				padding:10px 10px;
				font-size:16px;
				color:#FFF;
				text-align:center;
				background:#398bce;
				@include roundedCorners(5px);
				&:hover {
					background:#2d6ea3;
				}
			}
		}
	}
	section.results {
		float:right;
		width:73%;
		padding:10px 20px;
		background:#FFF;
		@include roundedCorners(5px);
		@include boxShadow(5px, #dddddd);
		div#searchResults {
			div.villa {
				position:relative;
				padding:20px 0;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				div.image {
					float:left;
					position:relative;
					display:inline-block;
					width:200px;
					height:150px;
					margin:2px 15px 0 0;
					overflow:hidden;
					@include boxShadow(5px, #c4c2c2);
					a {
						display:block;
						position:absolute;
						left:0;
						top:0;
						width:100%;
						height:100%;
						display:block;
						-moz-transform: translate(50%,50%);
						-ms-transform: translate(50%,50%);
						-o-transform: translate(50%,50%);
						transform: translate(50%,50%);
						img {
							display:block;
							position:absolute;
							left:0;
							top:0;
							border:none;
							height:150px;
							width:auto;
							opacity:0.9;
							-moz-transform: translate(-50%,-50%);
							-ms-transform: translate(-50%,-50%);
							-o-transform: translate(-50%,-50%);
							transform: translate(-50%,-50%);
						}
					}
					div.options {
						position:absolute;
						left:0;
						top:0;
						width:100%;
						height:100%;
						padding:5px 10px 6px 10px;
						background:#333;
						opacity:0;
						color:#FFF;
						@include transitionAllQuick();
					}
					a.villaImagesOpen {
						display:block;
						padding:30px 0 0 0;
						text-align:center;
						font-weight:bold;
						font-size:16px;
						color:#FFF;
					}
					a.villaView {
						position:absolute;
						right:5px;
						bottom:5px;
						opacity:0;
						font-weight:bold;
						font-size:14px;
						color:#FFF;
						@include transitionAllSlow();
					}
					img {
						display:block;
						max-width:100%;
						@include transitionAllQuick();
					}
					span.mobile {
						display:none;
					}
				}
				div.details {
					div.bullets {
						overflow:hidden;
						ul {
							float:left;
							width:140px;
							li {
								padding:0 0 0 0;
								margin:0 0 5px 0;
								font-size:15px;
								font-weight:normal;
								list-style:none;
								i {
									margin-right:5px;
									color:#66bb00;
								}
							}
						}
					}
				}
				span.price {
					position:absolute;
					right:-20px;
					top:20px;
					width:84px;
					font-size:26px;
					/*line-height:1em;*/
					font-style:italic;
					font-weight:400;
					font-family: 'Just Another Hand', cursive;
					font-family: 'Pacifico', cursive;
					font-family: 'Courgette', cursive;
					font-family: 'Kristi', cursive;
					font-family: 'Euphoria Script', cursive;
					font-weight:normal;
					font-family:'Dancing Script', cursive;
					-ms-transform:rotate(-7deg); /* IE 9 */
					-webkit-transform:rotate(-7deg); /* Safari and Chrome */
					transform:rotate(-7deg);
					span {
						display:block;
						line-height:25px;
						color:#6299c3;
						color:#9fc0db;
					}
				}
				h3 {
					padding:0 0 10px 0;
					margin:0;
					font-size:22px;
					font-weight:normal;
					font-family:'Dancing Script', cursive;
					a {
						display:block;
						line-height:1em;
						color:#6F7F87;
						color:#9fc0db;
						text-decoration:none;
						@include transitionAllQuick();
					}
					a:hover {
						color:#F39456;
					}
				}
				h4 {
					padding:0 0 20px 0;
					font-size:16px;
					font-weight:normal;
					line-height:1em;
					a {
						color:#6F7F87;
						text-decoration:none;
						@include transitionAllQuick();
					}
					a:hover {
						color:#F39456;
					}
				}
				ul {
					float:left;
				}
				div.actions {
					position:absolute;
					right:0;
					bottom:20px;
					z-index:2;
					width:85px;
					span.icon {
						width:20px;
						i {
							float:left;
							width:20px;
							padding-top:5px;
							font-size:13px;

						}
					}
					a.shortList {
						display:block;
						padding:4px 10px;
						font-size:16px;
						color:#FFF;
						text-decoration:none;
					    background-color: #398bce;
					    border:1px solid #398bce;
					    @include roundedCorners(4px);
					}
					a.shortList:hover {
						background:#2d6ea3;
					}
					span.shortListed {
						display:none;
						padding:4px 10px;
						font-size:16px;
						color:#C09853;
						color:#468847;
						border:1px solid #D6E9C6;
						background-color:#DFF0D8;
						@include roundedCorners(4px);
					}
				}
				div.shortListed {
					a.shortList {
						display:none;
					}
					span.shortListed {
						display:block;
					}
				}
			}
			div.villa:last-child {
				background:none;
			}
		}
		div#moreVillas {
			padding:30px 0;
			text-align:center;
			background:url('/assets/images/bg-dots.png') repeat-x top left;
		}
	}
}

div#ui-datepicker-div {
	display:none;
	padding:10px 15px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(7px, #b3b4b5);
	@include roundedCorners(5px);
}
div#ui-datepicker-div:before {
	position:absolute;
	left:20px;
	top:-13px;
	content:"";
	width:19px;
	height:13px;
	background:url('/assets/images/bg-drop-arrow.png') no-repeat top left;
}
div#ui-datepicker-div a.ui-datepicker-prev {
	float:left;
	cursor:pointer;
}
div#ui-datepicker-div a.ui-datepicker-next {
	float:right;
	cursor:pointer;
}
div.ui-datepicker-title {
	padding:0 0 10px 0;
	text-align:center;
}
div#ui-datepicker-div table td {
	padding:0 4px;
}

div#orderBy {
	position:relative;
	float:right;
	z-index:10;
	span.orderByLabel {
		padding:0 20px 0 0;
	}
	a.button {
		span#orderBySpan {
			display:inline;
			float:none;
			font-size:15px;
		}
	}
	div.drop {
		position:absolute;
		right:0;
		top:40px;
		display:none;
		width:210px;
		padding:15px;
		border:1px solid #FFF;
		background:#fafaf2;
		@include boxShadow(7px, #b3b4b5);
		@include roundedCorners(5px);
		z-index:11;
		ul {
			li {
				padding:0 0 5px 0;
				list-style:none;
				a {
					font-size:15px;
					text-decoration:none;
				}
			}
			li:last-child {
				padding-bottom:0;
			}
		}
	}
	div.drop:before {
		position:absolute;
		right:20px;
		top:-13px;
		content:"";
		width:19px;
		height:13px;
		background:url('/assets/images/bg-drop-arrow.png') no-repeat top left;
	}
}
div.apply-filters-overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background:rgba(255,255,255,0.5);
	zoom:1;
	z-index:9999991;
	span {
		position:absolute;
		left:50%;
		top:50%;
		display:block;
		text-align:center;
		font-size:30px;
	}
}

@media screen and (max-width: 1023px) {
	section#search {
		div#searchSideMobile {
			display:block;
		}
		div#searchSide {
			display:none;
			position:fixed;
			left:0;
			top:0;
			right:0;
			bottom:0;
			width:auto;
			padding-bottom:70px;
			z-index:99999;
			height:100%;
			overflow-y:scroll;
			border-radius:0;
			div.applyFilters {
				display:block;
				position:fixed;
				left:0;
				bottom:0;
				right:0;
			}
		}
		section.results {
			width:92%
		}
	}
}
@media screen and (max-width: 768px) {
	section#search {
		section.results {
			div#searchResults {
				div.villa {
					span.price {
						display:none;
					}
					div.details {
						div.bullets {
							ul {
								float:none;
							}
						}
					}
				}
			}
		}
	}
}
/* Galaxy S4 & S5 landscape */
@media screen and (max-width: 640px) {
	section#search {
		div#searchSideMobile {
			position:fixed;
			left:0px;
			top:none;
			bottom:0px;
			right:0px;
			padding:20px;
			margin:0;
			float:none;
			width:auto;
			background:rgba(255,255,255,0.7);
			a {
				height:40px;
				line-height:40px;
				span.label {
					display:inline-block;
				}
				span.icon {
					display:inline-block;
					margin-right:15px;
				}
				@include roundedCorners(10px);
				@include boxShadow(1px, #CCC);
			}
		}
		section.results {
			float:none;
			width:auto;
			div#searchResults {
				div.villa {
					div.details {
						float:none;
						div.actions {
							position:static;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	section#search {
		section.results {
			box-shadow:none;
		}
	}
}
@media screen and (max-width: 460px) {
	section#search {
		section.results {
			div#searchResults {
				width:280px;
				margin:0 auto;
				div.villa {
					div.image {
						float:none;
						display:block;
						width:280px;
						height:190px;
						margin:0 auto 20px;
						a {
							img {
								height:190px;
							}
						}
					}
					div.details {
						div.bullets {
							padding-bottom:20px;
						}
					}
				}
			}
		}
	}
}


// @media screen and (max-width: 961px) {
// 	section#search {
// 		section.results {
// 			div#searchResults {
// 				div.villa {
// 					div.image {
// 						width:40%;
// 					}
// 					div.details {
// 						width:55%;
// 						span.price {
// 							display:none;
// 						}
// 						div.bullets {
// 							padding:0 0 15px 0;
// 							ul {
// 								width:50%;
// 							}
// 						}
// 						div.actions {
// 							position:static;
// 							margin:0 auto;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media screen and (max-width: 718px) {
// 	section#search {
// 		div#searchSide {
// 			float:none;
// 			padding:0;
// 			width:100%;
// 			background:#fafaf2;
// 		}
// 		section.results {
// 			float:none;
// 			width:100%;
// 			div#searchResults {
// 				div.villa {
// 					div.image {
// 						width:300px;
// 					}
// 					div.details {
// 						float:none;
// 						width:auto;
// 						padding:0 0 0 320px;
// 						/*div.bullets {
// 							display:none;
// 						}
// 						div.actions {
// 							display:none;
// 						}*/
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media screen and (max-width: 680px) {
// 	section#search {
// 		section.results {
// 			div#searchResults {
// 				div.villa {
// 					div.image {
// 						float:left;
// 						width:45%;
// 					}
// 					div.details {
// 						float:right;
// 						width:50%;;
// 						padding:0;
// 						div.bullets {
// 							ul {
// 								float:none;
// 								width:100%;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// @media screen and (max-width: 480px) {
// 	section#search {
// 		div#searchSide {
// 			padding-top:0;
// 			margin:0;
// 			box-shadow:none;
// 			h2 {
// 				padding:5px 10px;
// 				color:#FFF;
// 				background:#38444a;
// 				span.icon {
// 					display:block;
// 				}
// 				i.fa-angle-down {
// 					display:none;
// 				}
// 			}
// 			h2.open {
// 				i.fa-angle-down {
// 					display:block;
// 				}
// 				i.fa-angle-right {
// 					display:none;
// 				}
// 			}
// 			div.options {
// 				display:none;
// 				padding:10px;
// 				margin:0;
// 				background:none;
// 				&.open {
// 					display:block;
// 				}
// 				label {
// 					font-size:20px;
// 				}
// 			}
// 		}
// 		section.results {
// 			box-shadow:none;
// 		}
// 	}
// }
// @media screen and (max-width: 380px) {
// 	section#search {
// 		section.results {
// 			padding:0;
// 			div#searchResults {
// 				div.villa {
// 					padding:0 0 20px 0;
// 					margin:0 0 20px 0;
// 					div.image {
// 						float:none;
// 						width:100%;
// 						margin:0 auto 10px auto;
// 						box-shadow:none;
// 						img.desktop {
// 							display:none;
// 						}
// 						span.mobile {
// 							display:block;
// 							img {
// 								display:block;
// 								max-width:100%;
// 							}
// 						}
// 					}
// 					div.details {
// 						float:none;
// 						width:100%;
// 						padding:0 10px;
// 						div.bullets {
// 							display:block;
// 							ul {
// 								float:none;
// 								width:100%;
// 							}
// 						}
// 						div.actions {
// 							margin:0;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }