section#submitReview {
	div.villaForReview {
		float:left;
		width:300px;
		min-height:200px;
		margin:0 20px 0 0;
		h2 {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			font-weight:normal;
			background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		}
		h3 {
			padding:0 0 20px 0;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			a {

			}
		}
		div.image {
			margin:0 0 30px 0;
			img {
				display:block;
				max-width:100%;
			}
		}
		p {
			padding:0 0 20px 0;
		}
	}
	div.reviewForm {
		float:left;
		width:620px;
		min-height:500px;
		padding:0 0 20px 20px;
		background:url('/assets/images/bg-dots.png') repeat-y top left;
		form {
			div.row {
				padding:0 0 20px 0;
				span.required {
					float:left;
					padding:5px 1px 0 0;
					color:#f39456;
				}
				label {
					float:left;
					width:180px;
					padding:5px 0 0 0;
					font-size:18px;
				}
				span.label {
					float:left;
					width:180px;
					padding:5px 0 0 0;
					font-size:18px;	
				}
				input.text {
					padding:4px 10px;
					width:400px;
					font-size:16px;
					font-weight:normal;
					border:none;
					background:#FFF !important;
					border:1px solid #CCC;
					@include roundedCorners(5px);
				}
				textarea {
					padding:4px 10px;
					width:400px;
					height:200px;
					font-size:16px;
					font-weight:normal;
					border:none;
					background:#FFF !important;
					border:1px solid #CCC;
					@include roundedCorners(5px);	
				}
				div.radios {
					float:left;
					width:200px;
					label {
						width:100px;
						padding:0;
					}
					input {
						margin-top:5px;
					}
				}
				.sbHolder {
					width:400px;
				}
			}
			div.rowSubmit {
				padding:20px 0 0 0;
				input {
					float:left;
					margin-right:30px;
				}
				span.required {
					padding-top:0;
				}
			}
		}
	}
}