/*
# Villa
*/
section#villa {
	padding:15px 20px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div#lateDeals {
		padding:10px 20px 15px 20px;
		margin:0 0 20px 0;
		color:#8a6d3b;
		font-weight:bold;
		border:1px solid #faebcc;
		background:#fcf8e3;
		@include roundedCorners(5px);
		h2 {
			padding:0 0 10px 0;
			font-size:18px;
			i {
				margin-right:10px;
			}
		}
		div.deal {
			padding:0 0 10px 0;
			span {
				font-weight:normal;
				font-size:18px;
			}
		}
		div.deal:last-child {
			padding:0;
		}
	}
	div.section {
		padding:0 0 23px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
	}
	div.sectionTop {
		margin-bottom:15px;
	}
	ul.options {
		float:right;
		li {
			float:left;
			padding:0 0 0 5px;
			list-style:none;
			span.icon {
				width:20px;
				/*margin-right:0;*/
			}
			a {
				display:block;
				padding:2px 7px;
				line-height:20px;
				font-size:15px;
				color:#f1f1f1;
				color:#C09853;
				border:1px solid #FAEBCC;
				background:#FCF8E3;
			   	@include roundedCorners(5px);
				span {
					display:inline-block;
					padding-right:5px;
				}
			}
			a:hover {
				color:#D0B688;
			}
			span.shortListed {
				display:none;
				padding:2px 7px;
				line-height:20px;
				font-size:15px;
				color:#C09853;
				color:#468847;
				border:1px solid #D6E9C6;
				background-color:#DFF0D8;
				@include roundedCorners(4px);
			}
		}
		li.shortListed {
			a {
				display:none;
			}
			span.shortListed {
				display:block;
			}
		}
	}
	div.title {
		padding:0 0 8px 0;
		margin:0 0 8px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		h1 {
			margin:0;
			padding:0;
			color:#9fc0db;
			background:none;
		}
		p {
			margin:0;
			padding:0 0 10px 0;
			font-weight:normal;
			font-size:15px;
			font-family:"Lato",sans-serif;
			font-weight:300;
		}
	}
	div#mainImage {
		float:left;
		width:460px;
		width:49%;
		padding:5px 0 0 0;
		margin:0 0 0 5px;
		img {
			display:block;
			max-width:100%;
			@include boxShadow(5px, #CCC);
		}
	}
	div.owl-wrapper-outer {
		/*padding-left:6px;*/
	}
	div.thumb {
		position:relative;
		float:left;
		width:223px;
		height:180px;
		margin:0 20px 10px 0;
		overflow:hidden;
		cursor:pointer;
		@include boxShadow(5px, #CCC);
		a {
			position:absolute;
			left:0;
			top:0;
			width:100%;
			height:100%;
			display:block;
			-moz-transform: translate(50%,50%);
			-ms-transform: translate(50%,50%);
			-o-transform: translate(50%,50%);
			transform: translate(50%,50%);
			img {
				display:block;
				position:absolute;
				left:0;
				top:0;
				border:none;
				max-height:180px;
				width:auto;
				-moz-transform: translate(-50%,-50%);
				-ms-transform: translate(-50%,-50%);
				-o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
	}
	div.details {
		float:right;
		width:460px;
		width:48%;
		font-family:"Lato",sans-serif;
		font-weight:300;
		div.villaTabs {
			div.tab {
				border:1px solid #f0f0dd;
				background:#fafaf2;
				box-shadow:none;
				h2 {
					padding:0 0 20px 0;
					margin:0 0 20px 0;
					font-family:'Dancing Script', cursive;
					font-weight:normal;
					background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				}
			}
		}
		p.community {
			padding:0 0 10px 0;
			font-size:22px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;			
		}
		p.mainDetails {
			padding:0 0 20px 0;
		}
		div.bullets {
			overflow:hidden;
			ul {
				float:left;
				li {
					float:left;
					padding:0 0 10px 0;
					font-size:16px;
					list-style:none;
					width:50%;

					span {
						float:left;
						width:140px;
					}
				}
			}
			ul:first-child {
				width:145px;
			}
			ul.amenities {
				width:370px;
				li {
					width:175px;
					i {
						margin-right:10px;
						color:#66BB00;
						color:#398bce;
					}
				}
			}
		}
		ul.pricing {
			li {
				padding:0 0 10px 0;
				margin:0 0 10px 0;
				list-style:none;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				span.price {
					float:right;
					font-size:24px;
				}
				p {
					font-weight:normal;
				}
			}
		}
	}
	div.villaTabs {
		ul.tabs {
			padding:5px 0 10px 0;
			min-height:50px;
			li {
				float:left;
				margin:0 5px 0 0;
				list-style:none;
				a {
					display:block;
				}
				a.current {
					background:#c09853;
				}
			}
		}
		div.tab {
			display:none;
			border:1px solid #FFF;
			padding:20px;
			/*@include roundedCorners(5px);
			border:1px solid #FFF;
			background:#fafaf2;
			@include boxShadow(5px, #CCC);*/
			border:1px solid #f0f0dd;
			background:#fafaf2;
			box-shadow:none;
			@include roundedCorners(5px);
			p.summary {
				font-size:16px;
				line-height:1.6em;
				font-family:"Lato",sans-serif;
				font-weight:300;
			}
		}
		div.tab:first-child {
			display:block;
		}
	}

	div#imagesSlider {
		div.owl-wrapper-outer {
			padding:5px;
		}
	}
	div#map {
		min-height:400px;
		@include boxShadow(5px, #CCCCCC);
	}
	div.calendarSection {
		padding:20px 0 20px 20px;
		background:#f1f1f1;
		border:1px solid #f0f0dd;
		background:#fafaf2;
		@include roundedCorners(5px);
		span.noDates {
			font-size:20px;
			
		}
		div.calendarHolder {
			padding:20px 0;
		}
		div.calendar {
			float:left;
			width:145px;
			height:190px;
			margin:0 10px 10px 0;
			table {
				border-collapse:collapse;
				background:#f1f1f1;
				background:#fafaf2;
				th {
					padding:0 0 5px 0;
				}
				td {
					width:18px;
					height:12px;
					padding:0;
					text-align:center;
					font-size:15px;
					font-weight:normal;
					border:1px solid #FFF;
					div.booked {
						color:#FFF;
						background:#F39456;
					}
					div.changeOverAM {
						color:#FFF;
						background:#65727a url('/assets/images/sprite/sprite.png') no-repeat -50px -48px;
					}
					div.changeOverPM {
						color:#FFF;
						background:#65727a url('/assets/images/sprite/sprite.png') no-repeat -2px -48px;
					}
				}
			}
		}
		div.calendar:nth-child(6),
		div.calendar:nth-child(12) {
			margin-right:0;
		}
		ul.calendarKeys {
			display:inline-block;
			margin:20px 0 0 0;
			padding:20px 30px 0 15px;
			background:url('/assets/images/bg-dots.png') repeat-x top right;
			li {
				padding:0 0 10px 0;
				font-size:18px;
				list-style:none;
				span.icon {
					float:left;
					width:20px;
					height:20px;
					margin:4px 10px 0 0;
				}
				span.booked {
					background:#f39456;
				}
				span.changeOverAM {
					background:url("/assets/images/sprite/sprite.png") no-repeat scroll -50px -50px #65727a;
				}
				span.changeOverPM {
					background:url("/assets/images/sprite/sprite.png") no-repeat scroll -0px -49px #65727a;
				}
			}
		}
		span.noDates {
			display:block;
			padding:40px 30px;
			text-align:center;
			font-size:20px;
			font-weight:bold;
			color:#c09853;
			a {
				color:#c09853;
				text-decoration:underline;
			}
			a:hover {
				color:#c09853;
			}
		}
	}
	div.last {
		margin-right:0;
	}
	div.description {
		float:left;
		width:400px;
		font-weight:normal;
		line-height:1.6em;
		font-size:15px;
		overflow:hidden;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
	}
	div#info {
		div.tab {
			/*padding:20px;
			background:#fafaf2;
			@include roundedCorners(5px);
			border:1px solid #FFF;
			background:#fafaf2;
			@include boxShadow(5px, #CCC);*/
			h2 {
				padding:0 0 20px 0;
				margin:0 0 20px 0;
				font-family:'Dancing Script', cursive;
				font-weight:normal;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
			}
			p {
				padding:0 0 20px 0;
				font-family:"Lato",sans-serif;
				font-weight:300;
			}
			div.feature {
				margin:0 0 20px 0;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				h3 {
					padding:0 0 20px 0;
					font-size:20px;
					font-family:'Dancing Script', cursive;
					font-weight:normal;
				}
			}
		}
		div.reviews {
			h2.guestReviews {
				padding:0 0 20px 0;
				margin:0 0 20px 0;
			}
			div.review {
				padding:0 0 20px 0;
				margin:0 0 20px 0;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				h2 {
					padding:0 0 10px 0;
					margin:0;
					background:none;
				}
				ul {
					padding:0 0 10px 0;
					li {
						float:left;
						padding:0 5px 0 0;
						color:#398bce;
						list-style:none;
					}
				}
				p {
					padding:0 0 10px 0;
				}
				p.date,
				p.reviewBy {
					padding:0;
				}
			}
			p.noReviews {
				/*padding:30px 0;
				margin:0 0 30px 0;
				text-align:center;
				font-size:26px;
				font-family:'Dancing Script', cursive;
				font-weight:normal;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;*/
			}
			div.submitReview {
				h3 {
					padding:0 0 15px 0;
				}
				p {
					padding:0 0 20px 0;
				}
			}
		}
	}
	div#enquireFloater {
		position:fixed;
		right:-0px;
		top:150px;
		width:100px;
		z-index:1;
		@include transitionAllQuick();
		a {
			display:block;
			width:100px;
			padding:10px 0;
			font-weight:bold;
			font-size:20px;
			text-align:center;
			color:#FFF;
			background:#398bce;
			-webkit-radius:5px 0 0 5px;
			-moz-border-radius:5px 0 0 5px;
			-o-border-radius:5px 0 0 5px;
			border-radius:5px 0 0 5px;
			@include boxShadow(5px, #CCC);
			span {
				display:block;
			}
			span.arrow {
				font-size:26px;
			}
		}
		a:hover {
			background:#2d6ea3;
		}
	}
	div#enquiryForm {
		display:none;
		position:fixed;
		left:50%;
		top:80px;
		width:500px;
		margin-left:-250px;
		padding:20px;
		@include roundedCorners(5px);
		border:1px solid #FFF;
		background:#fafaf2;
		@include boxShadow(5px, #333);
		z-index:9999991;
		a.close {
			float:right;
			color:#f1f1f1;
			font-size:14px;
			padding:1px 6px 2px 6px;
			background:#65727a;
			@include roundedCorners(5px);
		}
		a.close:hover {
			background:#505e66;
		}
		h2 {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			font-weight:normal;
			font-size:22px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		}
		div.row {
			padding:0 0 12px 0;
			margin:0 0 0 0;
			label {
				float:left;
				width:25%;
				padding:7px 0 0 0;
				span.required {
				    color: #EE984C;
				}
			}
			input.text {
				float:left;
				width:70%;
				padding:4px 10px;
				margin:0 0 15px 0;
				font-size:20px;
				border:1px solid #DCDCDC;
				background:#fff;
				@include roundedCorners(5px);
			}
			textarea {
				float:left;
				width:70%;
				height:200px;
				padding:8px 10px;
				margin:0 0 15px 0;
				font-size:14px;
				font-weight:normal;
				border:1px solid #DCDCDC;
				background:#fff;
				@include roundedCorners(5px);
			}
			span.error {
				float:right;
				padding:7px 0 0 0;
				display:none;
				color:#B94A48;	
			}
			span.success {
				float:right;
				padding:7px 0 0 0;
				display:none;
				color:#468847;
			}
			input#submit {
				padding:7px 20px;
				font-size:22px;
				font-weight:normal;
				color:#FFF;
				text-shadow:none;
				cursor:pointer;
				border:none;
				background:#3cc05e;
				@include roundedCorners(5px);
			}
			input#submit:hover {
				background:#38b458;
			}
			h3 {
				font-weight:normal;
			}
		}
		div.errors {
			position:relative;
			clear:both;
			color:#B94A48;
			margin:15px 0 0 25%;
			padding:3px 10px;
			width:70%;
			border:1px solid #EED3D7;
			background-color: #F2DEDE;
			@include roundedCorners(3px);
		}
		div.errors:before {
			position: absolute;
			right:20px;
			top:-12px;
			content:"";
			height:12px;
			width:23px;
			background: url("http://www.floridavillas192.com/_images/bg-error-arrow.png") no-repeat scroll left top;
		}
		div.error {
			span.error {
				display:inline;
			}
		}
		div.success {
			span.success {
				display:inline;
			}
		}
		div.rowSubmit {
			padding-top:20px;
			input {
				float:left;
				margin:0 25px 0 0;	
			}
			h3 {
			    font-size: 16px;
			}
			span.required {
			    color: #EE984C;
			}
			div.alertSuccess {
				padding:15px 25px;
				h4 {
					padding:0 0 10px 0;
				}
			}
		}
	}
}
div#imagesLightBox {
	a.close {
		position:fixed;
		right:15px;
		top:15px;
		width:18px;
		height:17px;
		font-weight:bold;
		color:#CCC;
		text-indent:-9999px;
		opacity:0.7;
		background:url('/assets/images/sprite/sprite.png') no-repeat -49px 0;
	}
	a.close:hover {
		opacity:1;
	}
	display:none;
	position:fixed;
	left:50%;
	top:0;
	margin-left:-400px;
	width:800px;
	padding:80px 0 0 0;
	z-index:999999;
	div#imagesLightBoxSlider {
		div.item {
			min-height:250px;
			background-repeat:no-repeat;
			background-position:center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			img {
				display:block;
				margin:0 auto;
				max-width:100%;
				@include boxShadow(5px, #000);
			}
		}
	}
}



@media screen and (max-width: 1200px) {
	div#enquireFloater {
		display:none;
	}
}
@media screen and (max-width: 1044px) {
	section#villa {
		div.details {
			div.bullets {
				ul.amenities {
					width:310px;
				}
			}
		}
	}
	div#imagesSlider {
		width:689px;
		margin:0 auto;
	}
}
@media screen and (max-width: 981px) {
	section#villa {

	}
}
@media screen and (max-width: 768px) {
	section#villa {
		ul.options {
			display:none;
		}
		div.title {
			padding-top:20px;
		}
		div#mainImage {
			float:none;
			width:auto;
			margin:0 0 20px 0;
			img {
				margin:0 auto;
			}
		}
		div.details {
			float:none;
			width:auto;
			padding:0;
			div.bullets {
				ul.amenities {
					width:370px;
				}
			}
		}
		div#imagesSlider {
			width:456px;
			margin:0 auto;
			div.owl-controls {
				display:none !important;
			}
		}
		div.section {
			div.villaTabs {
				ul.tabs {
					display:none;
				}
				div.tab {
					display:block !important;
					padding:0 0 20px 0;
					margin:0 0 20px 0;
					border:none;
					box-shadow:none;
					background:url('/assets/images/bg-dots.png') repeat-x bottom left;
				}
				div.tab:last-child {
					background:none;
				}
			}
		}
		div#enquiryForm {
			float:none;
			width:100%;
			padding:0;
			background:none;
		}
	}
}
@media screen and (max-width: 520px) {
	section#villa {
		div#imagesSlider {
			width:380px;
			margin:0 auto;
			div.owl-wrapper-outer {
				padding:0;
			}
			div.thumb {
				width:380px;
				height:240px;
				margin:0;
				box-shadow:none;
				a {
					img {
						max-height:240px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	section#villa {
		padding-top:0;
		box-shadow:none;
		div#imagesSlider {
			width:340px;
			margin:0 auto;
			div.thumb {
				width:340px;
				height:240px;
			}
		}

		div#images {
			width:240px;
		}
		ul.options {
			display:none;
		}
		div.details {
			div.bullets {
				ul.amenities {
					li {
						float:none;
						width:auto;
					}
				}
			}
		}
		div.mapSection {
			display:none;
		}
		div#enquiryForm {
			display:block;
			position:static;
			margin:0;
			box-shadow:none;
			a.close {
				display:none;
			}
		}
	}
}
@media screen and (max-width: 459px) {
	section#villa {
		div#imagesSlider {
			width:280px;
			div.thumb {
				width:280px;
				height:200px;
			}
		}
	}
}