 /*
# Reset
*/
* {
	margin:0;
	padding:0;
}
/*
# Float Clearing
*/
form div.row:after,

section.content:after,
div#villa div.section:after,
div#villa div#imagesSlider:after,
div#searchBar form:after,
div#searchDates div.row:after,
div#searchResults div.villa:after,
footer div.center:after,
.cf:after
{
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}
/*
# Global
*/
*, *:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body,
input,
textarea,
button {
	font-family:$openSans;
	font-weight:700;
	font-weight:normal;
	color:$baseColor;
}
body {
	background:#e9eaed;
	background:#fafaf2;
	/*background:url("http://www.floridavillas192.com/_images/bg-body.png");*/
}
div.holder {
	max-width:1800px;
	margin:0 auto;
	overflow:hidden;
}
div.center {
	max-width:1024px;
	margin:0 auto;
	padding:0 20px;
}
a {
	color:$baseColor;
	text-decoration:none;
	@include transitionAllQuick();
}
a:hover {
	color:$orangeColor;
}
a img {
	border:none;
}
.button {
	display:inline-block;
	padding:5px 20px;
	color:#FFF;
	font-size:24px;
	font-family:$openSans;
	font-weight:normal;
	text-decoration:none;
	cursor:pointer;
	border:none;
	background:#398bce;
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
.button:hover {
	color:#FFF;
	background:#2d6ea3;
}
span.icon {
	float:left;
	width:25px;
	margin-right:10px;
	text-align:center;
}
/*
# Content
*/
div.content {

}

/*
# Main
*/
div#main {
	/*padding:110px 0 50px 0;*/
	padding:20px 0 50px 0;
}
/*body.loggedIn div#main {
	padding-top:150px;
}*/
div#main h1 {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	font-weight:normal;
	font-family:'Dancing Script', cursive;
	color:#9fc0db;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;	
}
section.content {
	padding:20px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
}

/*
# Main break points
*/
@media screen and (max-width: 1043px) {
	/*div.center {
		width:984px;
	}*/
}
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	div.center {
		width:961px;
	}
}*/
/* iPads (landscape) ----------- */
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	div.center {
		width: 768px;
	}
}*/
/*@media screen 
and (min-device-width : 320px)
and (max-device-width : 480px) {*/
/*@media screen and (max-width: 480px) {
	body {
		background:#FFF;
	}
	div.center {
		width:100%;
	}
	div#main {
		div.center {
			padding:0;
		}
	}
}*/
/*@media screen and (max-width: 1023px) {
	div.center {
		width:961px;
	}
}*/
/*@media screen and (max-width: 981px) {
	div.center {
		width: 768px;
	}
}*/
/*@media screen and (max-width: 788px) {
	div.center {
		width: 480px;
	}
}*/
@media screen and (max-width: 480px) {
	body {
		background:#FFF;
	}
	div#main {
		padding:0;
		div.center {
			padding:0;
		}
	}
}