div#main {
	padding:20px;
}
ul.controls {
	padding:0 0 15px 0;
	margin:0 0 10px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
	li {
		float:left;
		padding:0 10px 0 0;
		text-align:right;
		list-style:none;
		a {
			padding:5px 10px;
			font-size:14px;
		}
	}
}
a.create {
	float:right;
	display:inline-block;
	padding:5px 20px;
	font-weight:normal;
	color:#FFF;
	font-size:20px;
	background:#3cc05e;
	@include roundedCorners(5px);
}
a.create:hover {
	color:#FFF;
	background:#38b458;
}

div.thumb {
	float:left;
	width:108px;
	margin:0 0 0 0;
	position:relative;
	height:90px;
	margin:0 0 10px 0;
	overflow:hidden;
	@include boxShadow(5px, #c4c2c2);
	span {
		position:absolute;
		left:0;
		top:0;
		display:block;
		width:100%;
		height:100%;
		-moz-transform: translate(50%,50%);
		-ms-transform: translate(50%,50%);
		-o-transform: translate(50%,50%);
		transform: translate(50%,50%);
		img {
			display:block;
			position:absolute;
			left:0;
			top:0;
			border:none;
			max-height:90px;
			width:auto;
			-moz-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
			-o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
	}
}