// Constants


//$desktop: #D6E9C6;
//$ipadLandscape: #D6E9C6;
//$ipadPortrait: #D6E9C6;
//$successBorder: #D6E9C6;

$openSans: 'Open Sans Condensed', sans-serif;
$baseColor: #65727A;
$orangeColor: #F39456;
$errorColor: #A94442;
$errorBackground: #F2DEDE;
$errorBorder: #EBCCD1;
$successColor: #3C763D;
$successBackground: #DFF0D8;
$successBorder: #D6E9C6;




@mixin transitionColor() {
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@mixin transitionBackground() {
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

@mixin transitionAllQuick() {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

@mixin transitionAllSlow() {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

@mixin transitionAllSlow() {
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	transition: all 0.9s ease;
}

@mixin roundedCorners($val) {
   	-webkit-radius:$val;
	-moz-border-radius:$val;
	-o-border-radius:$val;
	border-radius:$val;
}

@mixin roundedCornersTop($val) {
   	-webkit-radius:$val $val 0 0;
	-moz-border-radius:$val $val 0 0;
	-o-border-radius:$val $val 0 0;
	border-radius:$val $val 0 0;
}

@mixin roundedCornersRight($val) {
   	-webkit-radius:0 $val $val 0;
	-moz-border-radius:0 $val $val 0;
	-o-border-radius:0 $val $val 0;
	border-radius:0 $val $val 0;
}

@mixin boxShadow($size, $shadow) {
	-webkit-box-shadow: 0 0 $size $shadow;
	-moz-box-shadow: 0 0 $size $shadow;
	-o-box-shadow: 0 0 $size $shadow;
	box-shadow: 0 0 $size $shadow;
}

@mixin gradient($from, $to) {
	background: $to;
	background: -moz-linear-gradient(top, $to 0%, $from 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$to), color-stop(100%,$from));
	background: -webkit-linear-gradient(top, $to 0%,$from 100%);
	background: -o-linear-gradient(top, $to 0%,$from 100%);
	background: -ms-linear-gradient(top, $to 0%,$from 100%);
	background: linear-gradient(to bottom, $to 0%,$from 100%);
}