@charset "UTF-8";
/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011ÔÇô2014 thoughtbot, inc.
 * MIT License */
 /*
# Reset
*/
* {
  margin: 0;
  padding: 0; }

/*
# Float Clearing
*/
form div.row:after,
section.content:after,
div#villa div.section:after,
div#villa div#imagesSlider:after,
div#searchBar form:after,
div#searchDates div.row:after,
div#searchResults div.villa:after,
footer div.center:after,
.cf:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

/*
# Global
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body,
input,
textarea,
button {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-weight: normal;
  color: #65727A; }

body {
  background: #e9eaed;
  background: #fafaf2;
  /*background:url("http://www.floridavillas192.com/_images/bg-body.png");*/ }

div.holder {
  max-width: 1800px;
  margin: 0 auto;
  overflow: hidden; }

div.center {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px; }

a {
  color: #65727A;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

a:hover {
  color: #F39456; }

a img {
  border: none; }

.button {
  display: inline-block;
  padding: 5px 20px;
  color: #FFF;
  font-size: 24px;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: #398bce;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.button:hover {
  color: #FFF;
  background: #2d6ea3; }

span.icon {
  float: left;
  width: 25px;
  margin-right: 10px;
  text-align: center; }

/*
# Content
*/
/*
# Main
*/
div#main {
  /*padding:110px 0 50px 0;*/
  padding: 20px 0 50px 0; }

/*body.loggedIn div#main {
	padding-top:150px;
}*/
div#main h1 {
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  color: #9fc0db;
  background: url("/assets/images/bg-dots.png") repeat-x bottom left; }

section.content {
  padding: 20px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }

/*
# Main break points
*/
@media screen and (max-width: 1043px) {
  /*div.center {
  	width:984px;
  }*/ }
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	div.center {
		width:961px;
	}
}*/
/* iPads (landscape) ----------- */
/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	div.center {
		width: 768px;
	}
}*/
/*@media screen 
and (min-device-width : 320px)
and (max-device-width : 480px) {*/
/*@media screen and (max-width: 480px) {
	body {
		background:#FFF;
	}
	div.center {
		width:100%;
	}
	div#main {
		div.center {
			padding:0;
		}
	}
}*/
/*@media screen and (max-width: 1023px) {
	div.center {
		width:961px;
	}
}*/
/*@media screen and (max-width: 981px) {
	div.center {
		width: 768px;
	}
}*/
/*@media screen and (max-width: 788px) {
	div.center {
		width: 480px;
	}
}*/
@media screen and (max-width: 480px) {
  body {
    background: #FFF; }

  div#main {
    padding: 0; }
    div#main div.center {
      padding: 0; } }
div#main {
  padding: 20px; }

ul.controls {
  padding: 0 0 15px 0;
  margin: 0 0 10px 0;
  background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
  ul.controls li {
    float: left;
    padding: 0 10px 0 0;
    text-align: right;
    list-style: none; }
    ul.controls li a {
      padding: 5px 10px;
      font-size: 14px; }

a.create {
  float: right;
  display: inline-block;
  padding: 5px 20px;
  font-weight: normal;
  color: #FFF;
  font-size: 20px;
  background: #3cc05e;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

a.create:hover {
  color: #FFF;
  background: #38b458; }

div.thumb {
  float: left;
  width: 108px;
  margin: 0 0 0 0;
  position: relative;
  height: 90px;
  margin: 0 0 10px 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #c4c2c2;
  -moz-box-shadow: 0 0 5px #c4c2c2;
  -o-box-shadow: 0 0 5px #c4c2c2;
  box-shadow: 0 0 5px #c4c2c2; }
  div.thumb span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%); }
    div.thumb span img {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      border: none;
      max-height: 90px;
      width: auto;
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }

a.view {
  float: right;
  font-size: 14px;
  padding: 5px 15px; }

section.home div.section {
  float: left;
  width: 32.5%;
  margin-right: 1%;
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.home div.section h2 {
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    font-weight: normal;
    font-family: 'Dancing Script', cursive;
    color: #9fc0db;
    background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
  section.home div.section ul.options {
    float: right; }
    section.home div.section ul.options li {
      float: left;
      padding: 0 0 0 10px; }
      section.home div.section ul.options li a.button {
        font-size: 14px;
        padding: 5px 15px; }
section.home div.section:last-child {
  margin: 0; }

div.section div.enquiry {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
  div.section div.enquiry ul {
    padding: 0 0 0 120px; }
    div.section div.enquiry ul li {
      list-style: none; }
div.section div.user {
  padding: 10px;
  margin: 0 0 10px 0;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  div.section div.user ul {
    padding: 0; }
    div.section div.user ul li {
      list-style: none; }
  div.section div.user div.villas {
    display: none;
    padding: 10px 0; }
    div.section div.user div.villas div.thumb {
      margin: 0 10px 0 0; }
div.section div.user.activated_0 {
  background: #f0e0e0; }
div.section div.user.activated_1 {
  background: #e4f0e0; }
div.section div.villa {
  padding: 10px;
  margin: 0 0 10px 0;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  div.section div.villa ul {
    padding: 0 0 0 120px; }
    div.section div.villa ul li {
      list-style: none; }
div.section div.villa.approved_0 {
  background: #f0e0e0; }
div.section div.villa.approved_1 {
  background: #e4f0e0; }

section.account {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.account div.user {
    float: left;
    width: 33%;
    padding: 0 15px 0 0;
    background: url("/assets/images/bg-dots.png") repeat-y top right; }
    section.account div.user ul {
      padding: 0 0 20px 0; }
      section.account div.user ul li {
        list-style: none; }
    section.account div.user h2 {
      padding: 0 0 20px 0; }
    section.account div.user div.villas div.villa {
      padding: 10px;
      margin: 0 0 10px 0;
      -webkit-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      section.account div.user div.villas div.villa div.details {
        padding: 0 0 0 120px; }
    section.account div.user div.villas div.villa.approved_0 {
      background: #f0e0e0; }
    section.account div.user div.villas div.villa.approved_1 {
      background: #e4f0e0; }
  section.account div.enquiries {
    float: right;
    width: 65.5%; }
    section.account div.enquiries div.villa {
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
      section.account div.enquiries div.villa div.villaEnquiries {
        padding: 0 0 0 120px; }
        section.account div.enquiries div.villa div.villaEnquiries div.enquiry {
          padding: 5px 10px;
          margin: 0 0 10px 0;
          border: 1px solid #f0f0dd;
          background: #fafaf2;
          -webkit-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
          section.account div.enquiries div.villa div.villaEnquiries div.enquiry ul li {
            list-style: none; }
  section.account div.emailUser {
    float: right;
    width: 65.5%;
    padding: 20px;
    border: 1px solid #f0f0dd;
    background: #fafaf2;
    -webkit-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    section.account div.emailUser div.row {
      padding: 0 0 10px 0; }
      section.account div.emailUser div.row label {
        float: left;
        width: 150px;
        padding: 5px 0 0 0;
        font-size: 18px; }
      section.account div.emailUser div.row input.text {
        width: 70%;
        padding: 10px 10px;
        border: 1px solid #d8d8a8;
        background: #FFF !important; }
      section.account div.emailUser div.row textarea {
        width: 70%;
        padding: 10px 10px;
        border: 1px solid #d8d8a8;
        background: #FFF !important; }
    section.account div.emailUser div.rowSubmit {
      padding: 20px 0 0 0; }
      section.account div.emailUser div.rowSubmit input {
        display: inline-block;
        padding: 5px 10px;
        color: #FFF;
        font-size: 22px;
        cursor: pointer;
        border: none;
        background: #398bce;
        -webkit-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      section.account div.emailUser div.rowSubmit input:hover {
        background: #2d6ea3; }
  section.account div.alertWarning {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 0 15px 0;
    color: #a94442;
    border: 1px solid #ebccd1;
    background: #f2dede;
    -webkit-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    section.account div.alertWarning h4 {
      font-weight: bold;
      font-size: 20px; }
  section.account div.removeUser input {
    padding: 10px 20px;
    color: #FFF;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    border: none;
    background: #b45351;
    -webkit-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  section.account div.removeUser input:hover {
    background: #a94442; }

section.users {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.users div.user {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
    section.users div.user ul.userDetails {
      float: left;
      width: 200px;
      padding: 10px;
      margin: 0 15px 0 0;
      -webkit-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      section.users div.user ul.userDetails li {
        list-style: none; }
    section.users div.user div.villas {
      float: left; }
      section.users div.user div.villas div.villa {
        float: left;
        padding: 0 15px 0 0; }
  section.users div.user.activated_0 ul.userDetails {
    background: #f0e0e0; }
  section.users div.user.activated_1 ul.userDetails {
    background: #e4f0e0; }

section.communities {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.communities div.community {
    min-height: 100px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
    section.communities div.community h3 {
      float: left;
      width: 250px;
      font-weight: normal; }
    section.communities div.community div.villas {
      padding: 0 0 0 250px; }
      section.communities div.community div.villas div.villa {
        float: left;
        margin: 0 10px 0 0; }
        section.communities div.community div.villas div.villa div.thumb {
          float: none; }

section.editCommunity {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.editCommunity form {
    padding: 0 0 30px 0; }
    section.editCommunity form div.row {
      padding: 0 0 20px 0; }
      section.editCommunity form div.row label {
        float: left;
        width: 200px;
        font-size: 18px; }
      section.editCommunity form div.row input.text {
        display: block;
        padding: 5px 10px;
        width: 400px;
        font-size: 20px;
        font-weight: normal;
        border: none;
        background: #FFF !important;
        border: 1px solid #CCC;
        -webkit-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
      section.editCommunity form div.row textarea {
        display: block;
        padding: 5px 10px;
        width: 400px;
        height: 200px;
        font-size: 20px;
        font-weight: normal;
        border: none;
        background: #FFF !important;
        border: 1px solid #CCC;
        -webkit-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    section.editCommunity form div.rowSubmit {
      padding: 20px 0 10px 0; }
      section.editCommunity form div.rowSubmit input {
        display: inline-block;
        padding: 5px 10px;
        color: #FFF;
        font-size: 22px;
        cursor: pointer;
        border: none;
        background: #398bce;
        -webkit-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
      section.editCommunity form div.rowSubmit input:hover {
        background: #2d6ea3; }

section.villas {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.villas div.villa {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    background: url("/assets/images/bg-dots.png") repeat-x bottom left; }
    section.villas div.villa ul.notifications {
      float: right; }
      section.villas div.villa ul.notifications li {
        float: left;
        margin: 0 10px 0 0;
        padding: 5px 15px;
        color: #FFF;
        display: inline-block;
        list-style: none;
        background: #b45351;
        -webkit-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px; }
    section.villas div.villa div.thumb {
      margin: 0 20px 0 0; }
    section.villas div.villa div.details {
      float: left;
      width: 300px;
      margin: 0 20px 0 0;
      padding: 0 20px 0 0;
      background: url("/assets/images/bg-dots.png") repeat-y top right; }
      section.villas div.villa div.details h2 {
        padding: 0 0 10px 0;
        font-weight: normal; }
      section.villas div.villa div.details h3 {
        font-weight: normal; }
      section.villas div.villa div.details a.button {
        font-size: 15px;
        padding: 4px 10px; }
    section.villas div.villa ul.promotion li {
      padding: 0 0 10px 0;
      font-size: 20px;
      list-style: none; }
      section.villas div.villa ul.promotion li span {
        float: left;
        width: 150px; }
    section.villas div.villa ul.promotion li:last-child {
      padding-bottom: 0; }

section.villa {
  padding: 20px 15px;
  min-height: 500px;
  background: #FFF;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #dddddd;
  -moz-box-shadow: 0 0 5px #dddddd;
  -o-box-shadow: 0 0 5px #dddddd;
  box-shadow: 0 0 5px #dddddd; }
  section.villa div.images {
    float: left;
    width: 250px;
    background: url("/assets/images/bg-dots.png") repeat-y top right; }
    section.villa div.images div.thumb {
      margin: 0 10px 10px 0; }
  section.villa ul.villaControls {
    float: right; }
    section.villa ul.villaControls li {
      float: left;
      margin: 0 0 0 10px;
      list-style: none; }
      section.villa ul.villaControls li a {
        font-size: 14px;
        padding: 5px 10px; }
      section.villa ul.villaControls li a.remove {
        background: #b45351; }
      section.villa ul.villaControls li a.remove:hover {
        background: #a94442; }
  section.villa div.details {
    padding-left: 270px; }
    section.villa div.details div.promotion {
      padding: 15px;
      margin: 0 0 15px 0;
      border: 1px solid #f0f0dd;
      background: #fafaf2;
      -webkit-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px; }
      section.villa div.details div.promotion div.item {
        display: inline-block;
        width: 200px; }
        section.villa div.details div.promotion div.item label {
          display: inline-block;
          padding: 0 20px 0 0;
          font-size: 18px; }
        section.villa div.details div.promotion div.item input.text {
          display: inline-block;
          width: 50px;
          padding: 2px 10px;
          font-size: 18px;
          border: 1px solid #ccc;
          -webkit-radius: 5px;
          -moz-border-radius: 5px;
          -o-border-radius: 5px;
          border-radius: 5px; }
      section.villa div.details div.promotion div.submit input {
        padding: 4px 10px;
        font-size: 18px; }
    section.villa div.details ul li {
      padding: 0 0 10px 0;
      overflow: hidden;
      list-style: none; }
      section.villa div.details ul li span {
        float: left;
        width: 150px; }
      section.villa div.details ul li div {
        padding-left: 170px; }

header {
  min-height: 100px;
  padding: 20px 30px;
  background: #5da3dd;
  background: -moz-linear-gradient(top, #5da3dd 0%, #398bce 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5da3dd), color-stop(100%, #398bce));
  background: -webkit-linear-gradient(top, #5da3dd 0%, #398bce 100%);
  background: -o-linear-gradient(top, #5da3dd 0%, #398bce 100%);
  background: -ms-linear-gradient(top, #5da3dd 0%, #398bce 100%);
  background: linear-gradient(to bottom, #5da3dd 0%, #398bce 100%); }
  header a#logo {
    float: left; }
  header nav {
    float: left;
    clear: left; }
    header nav ul li {
      float: left;
      padding: 0 15px 0 0;
      list-style: none; }
      header nav ul li a {
        color: #FFF;
        font-size: 18px; }
      header nav ul li a:hover {
        color: #FFF; }

/*
# Alerts
*/
div.alert {
  padding: 10px 15px;
  margin: 0 0 20px 0;
  color: #c09853;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #faebcc;
  background: #fcf8e3;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

div.alertError {
  padding: 10px 15px;
  margin: 0 0 20px 0;
  color: #A94442;
  background: #F2DEDE;
  border: 1px solid #EBCCD1;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  div.alertError h4 {
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 20px 0; }
  div.alertError ul li {
    padding: 0 0 10px 0;
    list-style: none; }
    div.alertError ul li i {
      margin-right: 10px; }
  div.alertError p {
    padding: 0;
    margin: 0; }

div.alertSuccess {
  padding: 10px 15px;
  margin: 0 0 20px 0;
  color: #3C763D;
  border: 1px solid #D6E9C6;
  background: #DFF0D8;
  -webkit-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  div.alertSuccess h4 {
    font-size: 20px;
    font-weight: normal; }

/*# sourceMappingURL=admin.css.map */
