section.account {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div.user {
		float:left;
		width:33%;
		padding:0 15px 0 0;
		background:url('/assets/images/bg-dots.png') repeat-y top right;
		ul {
			padding:0 0 20px 0;
			li {
				list-style:none;
			}
		}
		h2 {
			padding:0 0 20px 0;
		}
		div.villas {
			div.villa {
				padding:10px;
				margin:0 0 10px 0;
				@include roundedCorners(5px);
				div.details {
					padding:0 0 0 120px;
				}
			}
			div.villa.approved_0 {
				background:#f0e0e0;
			}
			div.villa.approved_1 {
				background:#e4f0e0;
			}
		}
	}
	div.enquiries {
		float:right;
		width:65.5%;
		div.villa {
			padding:0 0 10px 0;
			margin:0 0 10px 0;
			background:url('/assets/images/bg-dots.png') repeat-x bottom left;
			div.villaEnquiries {
				padding:0 0 0 120px;
				div.enquiry {
					padding:5px 10px;
					margin:0 0 10px 0;
					border:1px solid #f0f0dd;
					background:#fafaf2;
					@include roundedCorners(5px);
					ul {
						li {
							list-style:none;
						}
					}
				}
			}
		}
	}
	div.emailUser {
		float:right;
		width:65.5%;
		padding:20px;
		border:1px solid #f0f0dd;
		background:#fafaf2;
		@include roundedCorners(5px);
		div.row {
			padding:0 0 10px 0;
			label {
				float:left;
				width:150px;
				padding:5px 0 0 0;
				font-size:18px;
			}
			input.text {
				width:70%;
				padding:10px 10px;
				border:1px solid #d8d8a8;
				background:#FFF !important;
			}
			textarea {
				width:70%;
				padding:10px 10px;
				border:1px solid #d8d8a8;
				background:#FFF !important;	
			}
		}
		div.rowSubmit {
			padding:20px 0 0 0;
			input {
				display:inline-block;
				padding:5px 10px;
				color:#FFF;
				font-size:22px;
				cursor:pointer;				
				border:none;
				background:#398bce;
				@include roundedCorners(5px);
				@include transitionAllQuick();
			}
			input:hover {
				background:#2d6ea3;
			}
		}
	}
	div.alertWarning {
		display:inline-block;
		padding:10px 20px;
		margin:0 0 15px 0;
		color:#a94442;
		border:1px solid #ebccd1;
		background:#f2dede;
		@include roundedCorners(5px);
		h4 {
			font-weight:bold;
			font-size:20px;
		}
	}
	div.removeUser {
		input {
			padding:10px 20px;
			color:#FFF;
			font-size:18px;
			font-weight:normal;
			cursor:pointer;
			border:none;
			background:#b45351;
			@include roundedCorners(5px);
			@include transitionAllQuick();
		}
		input:hover {
			background:#a94442;
		}
	}
}