section.communities {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div.community {
		min-height:100px;
		padding:0 0 10px 0;
		margin:0 0 10px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		h3 {
			float:left;
			width:250px;
			font-weight:normal;
		}
		div.villas {
			padding:0 0 0 250px;
			div.villa {
				float:left;
				margin:0 10px 0 0;
				div.thumb {
					float:none;
				}
			}
		}
	}
}
section.editCommunity {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	form {
		padding:0 0 30px 0;
		div.row {
			padding:0 0 20px 0;
			label {
				float:left;
				width:200px;
				font-size:18px;

			}
			input.text {
				display:block;
				padding:5px 10px;
				width:400px;
				font-size:20px;
				font-weight:normal;
				border:none;
				background:#FFF !important;
				border:1px solid #CCC;
				@include roundedCorners(5px);
			}
			textarea {
				display:block;
				padding:5px 10px;
				width:400px;
				height:200px;
				font-size:20px;
				font-weight:normal;
				border:none;
				background:#FFF !important;
				border:1px solid #CCC;
				@include roundedCorners(5px);
			}
		}
		div.rowSubmit {
			padding:20px 0 10px 0;
			input {
				display:inline-block;
				padding:5px 10px;
				color:#FFF;
				font-size:22px;
				cursor:pointer;				
				border:none;
				background:#398bce;
				@include roundedCorners(5px);
				@include transitionAllQuick();
			}
			input:hover {
				background:#2d6ea3;
			}
		}
	}	
}