a.view {
	float:right;
	font-size:14px;
	padding:5px 15px;
}
section.home {
	div.section {
		float:left;
		width:32.5%;
		margin-right:1%;
		padding:20px 15px;
		min-height:500px;
		background:#FFF;
		@include roundedCorners(5px);
		@include boxShadow(5px, #dddddd);
		h2 {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			color:#9fc0db;
			background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		}
		ul.options {
			float:right;
			li {
				float:left;
				padding:0 0 0 10px;
				a.button {
					font-size:14px;
					padding:5px 15px;
				}
			}
		}
	}
	div.section:last-child {
		margin:0;
	}
}

div.section {
	div.enquiry {
		padding:0 0 10px 0;
		margin:0 0 10px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		ul {
			padding:0 0 0 120px;
			li {
				list-style:none;
			}
		}
	}
	div.user {
		padding:10px;
		margin:0 0 10px 0;
		@include roundedCorners(5px);
		ul {
			padding:0;
			li {
				list-style:none;
			}
		}
		div.villas {
			display:none;
			padding:10px 0;
			div.thumb {
				margin:0 10px 0 0;
			}
		}
	}
	div.user.activated_0 {
		background:#f0e0e0;
	}
	div.user.activated_1 {
		background:#e4f0e0;
	}
	div.villa {
		padding:10px;
		margin:0 0 10px 0;
		@include roundedCorners(5px);
		ul {
			padding:0 0 0 120px;
			li {
				list-style:none;
			}
		}
	}
	div.villa.approved_0 {
		background:#f0e0e0;
	}
	div.villa.approved_1 {
		background:#e4f0e0;
	}
}