section.users {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div.user {
		padding:0 0 15px 0;
		margin:0 0 15px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		ul.userDetails {
			float:left;
			width:200px;
			padding:10px;
			margin:0 15px 0 0;
			@include roundedCorners(5px);
			li {
				list-style:none;
			}
		}
		div.villas {
			float:left;
			div.villa {
				float:left;
				padding:0 15px 0 0;
			}
		}
	}
	div.user.activated_0 {
		ul.userDetails {
			background:#f0e0e0;
		}
	}
	div.user.activated_1 {
		ul.userDetails {
			background:#e4f0e0;
		}
	}
}