section.villas {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div.villa {
		padding:0 0 15px 0;
		margin:0 0 15px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		ul.notifications {
			float:right;
			li {
				float:left;
				margin:0 10px 0 0;
				padding:5px 15px;
				color:#FFF;
				display:inline-block;
				list-style:none;
				background:#b45351;
				@include roundedCorners(5px);
			}
		}
		div.thumb {
			margin:0 20px 0 0;
		}
		div.details {
			float:left;
			width:300px;
			margin:0 20px 0 0;
			padding:0 20px 0 0;
			background:url('/assets/images/bg-dots.png') repeat-y top right;
			h2 {
				padding:0 0 10px 0;
				font-weight:normal;
			}
			h3 {
				font-weight:normal;
			}
			a.button {
				font-size:15px;
				padding:4px 10px;
			}
		}
		ul.promotion {
			li {
				padding:0 0 10px 0;
				font-size:20px;
				list-style:none;
				span {
					float:left;
					width:150px;
				}
			}
			li:last-child {
				padding-bottom:0;
			}
		}
	}
}
