section.villa {
	padding:20px 15px;
	min-height:500px;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
	div.images {
		float:left;
		width:250px;
		background:url('/assets/images/bg-dots.png') repeat-y top right;
		div.thumb {
			margin:0 10px 10px 0;
		}
	}
	ul.villaControls {
		float:right;
		li {
			float:left;
			margin:0 0 0 10px;
			list-style:none;
			a {
				font-size:14px;
				padding:5px 10px;
			}
			a.remove {
				background:#b45351;
			}
			a.remove:hover {
				background:#a94442;
			}
		}
	}
	div.details {
		padding-left:270px;
		div.promotion {
			padding:15px;
			margin:0 0 15px 0;
			border:1px solid #f0f0dd;
			background:#fafaf2;
			@include roundedCorners(5px);
			div.item {
				display:inline-block;
				width:200px;
				label {
					display:inline-block;
					padding:0 20px 0 0;
					font-size:18px;
				}
				input.text {
					display:inline-block;
					width:50px;
					padding:2px 10px;
					font-size:18px;
					border:1px solid #ccc;
					@include roundedCorners(5px);
				}
			}
			div.submit {
				input {
					padding:4px 10px;
					font-size:18px;
				}
			}
		}
		ul {
			li {
				padding:0 0 10px 0;
				overflow:hidden;
				list-style:none;
				span {
					float:left;
					width:150px;
				}
				div {
					padding-left:170px;
				}
			}
		}
	}
}