section#enquiries {
	div.enquiry {
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		div.enquiryRight {
			padding:0 0 0 125px;
			h2 {
				padding:0 0 15px 0;
				line-height:1em;
				font-weight:normal;
			}
			div.enquiryHolder {
				margin:0 0 10px 0;
				padding:10px;
				border:1px solid #f0f0dd;
				background:#fafaf2;
				@include roundedCorners(5px);
				a.delete {
					float:right;
					padding:5px 15px;
					font-size:15px;
					background:#b45351;
				}
				a.delete:hover {
					background:#a94442;
				}
				ul {
					padding:0 0 5px 0;
					li {
						padding:0 0 5px 0;
						list-style:none;
						span {
							float:left;
							width:100px;
						}
					}
				}
			}
		}
	}
	div.villa {
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		div.right {
			padding:0 0 0 125px;
			h2 {
				padding:0 0 15px 0;
				line-height:1em;
				font-weight:normal;
			}
			div.enquiries {
				div.enquiry {
					margin:0 0 10px 0;
					padding:10px;
					border:1px solid #f0f0dd;
					background:#fafaf2;
					@include roundedCorners(5px);
					a.delete {
						float:right;
						padding:5px 15px;
						font-size:15px;
						background:#b45351;
					}
					a.delete:hover {
						background:#a94442;
					}
					ul {
						padding:0 0 5px 0;
						li {
							padding:0 0 5px 0;
							list-style:none;
							/*font-family:"Lato",sans-serif;
							font-weight:300;*/
							span {
								float:left;
								width:100px;
							}
						}
					}
					/*p {
						font-family:"Lato",sans-serif;
						font-weight:300;
					}*/
				}
			}
		}
	}
}

/*
# Enquiries
*/
/*div#enquiries {
	min-height:100px;
	div.enquiry {
		padding:0 0 0 10px;
		border-bottom:1px solid #EEE;
		a.deleteEnquiry {
			float:left;
			margin:3px 15px 0 0;
		}
		ul {
			padding:5px 15px;
			li {
				float:left;
				width:100px;
				padding:0 10px 0 0;
				font-size:14px;
				list-style:none;
				span.label {
					display:none;
				}
				p {
					font-size:14px;
					font-weight:normal;
				}
			}
			li.date {
				width:100px;
			}
			li.name {
				width:200px;
			}
			li.email {
				width:300px;
			}
			li.villa {
				width:260px;
			}
			li.enquiry {
				display:none;
			}
		}
	}
	div.noEnquiries {
		padding:50px 0 0 0;
		text-align:center;
		h3 {
			padding:0 0 20px 0;
			font-size:24px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
		}
		p {
			padding:0 0 20px 0;
		}
	}
}*/
section.enquiryGuide {
	p {
		padding:0 0 20px 0;
		font-family:"Lato",sans-serif;
		font-weight:300;
	}
	div.item {
		padding:0 0 10px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		h2 {
			padding:0 0 10px 0;
			font-size:24px;
			font-weight:normal;
			font-family:'Dancing Script', cursive;
			color:#9fc0db;
		}
		h3 {
			padding:0 0 10px 0;
		}

	}
}

/*section#dashboard div.enquiry ul li.email,
section#dashboard div.enquiry ul li.villa,
section#dashboard div.enquiry ul li.enquiry {
	display:none;
}
section#dashboard div.enquiry ul li span.label {
	display:none;
}
section#dashboard div.enquiry ul li.name {
	width:180px;
}*/

div.enquiryWindow {
	position:fixed;
	left:50%;
	top:200px;
	margin-left:-200px;
	width:400px;
	min-height:100px;
	padding:20px;
	text-align:left;
	background-color: #FAFAF2;
	border: 1px solid #FBEED5;
	font-weight:400;
	z-index:9999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border:1px solid #FFF;
	background:#FFF;
	@include boxShadow(5px, #333);
	@include roundedCorners(5px);
}
div.enquiryWindow a.close,
div.enquiryWindow a.cancel {
	position:absolute;
	right:10px;
	top:10px;
	display:block;
	padding:0px 6px 3px 6px;
	font-weight:bold;
	font-size:16px;
	color:#FFF;
	background:#65727a;
	@include roundedCorners(5px);
}
div.enquiryWindow a.close:hover,
div.enquiryWindow a.cancel:hover {
	background:#505e66;
}
div.enquiryWindow h2 {
	padding:0 0 20px 0;
	margin:0;
	font-size:20px;
	font-size:20px;
	/*font-weight:normal;
	font-family:'Dancing Script', cursive;*/
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div.enquiryWindow p {
	padding:10px 0;
	font-weight:normal;
	font-size:18px;
}
div.enquiryWindow p.deleteOptions {
	text-align:right;
	padding:10px 0 0 0;
}
div.enquiryWindow p.deleteOptions a {
	display:inline-block;
	padding:4px 12px;
	margin-left:10px;
	text-shadow:none;
	font-size:16px;
	color:#FFF;
	background:#398bce;
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
div.enquiryWindow p.deleteOptions a:hover {
	background:#2d6ea3;
}
div.enquiryWindow ul {
	padding:10px 0;
}
div.enquiryWindow ul li {
	padding:0 0 10px 0;
	font-weight:bold;
	font-size:18px;
	list-style:none;

}
div.enquiryWindow ul li span.label {
	float:left;
	width:100px;
	font-weight:bold;
}
div.enquiryWindow ul li.enquiry span.label {
	display:block;
	padding:0 0 15px 0;
	float:none;
}
div.enquiryWindow ul li span.value {
	font-weight:normal;
}
div.enquiryWindow a.button {
	display:block;
	width:120px;
	text-align:center;
	margin:0 auto;
}