section#lateDeals {
	div.villa {
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;

		div.right {
			padding:0 0 0 125px;
			div.dealDetails {
				padding:0 0 10px 0;
				h2 {
					padding:0 0 10px 0;
					line-height:1em;
					font-weight:normal;
				}
			}
			div.lateDeal {
				padding:10px;
				margin:0 0 10px 0;
				height:55px;
				border:1px solid #f0f0dd;
				background:#fafaf2;
				@include roundedCorners(5px);
				ul.options {
					float:right;
					li {
						float:left;
						padding:0 0 0 10px;
						list-style:none;
						a.button {
							padding:5px 15px;
							font-size:16px;
						}
						a.delete {
							background:#b45351;
						}
						a.delete:hover {
							background:#a94442;
						}
					}
				}
				span {
					display:inline-block;
					padding:0 20px 0 0;
				}
			}
		}
	}
}
section#createLateDeal {
	div.errorsHolder {
		width:400px;
	}
	form {
		div.row {
			padding:0 0 20px 0;
			span.required {
				float:left;
				padding:5px 1px 0 0;
				color:#f39456;
			}
			label {
				float:left;
				width:180px;
				padding:5px 0 0 0;
				font-size:18px;
			}
			span.label {
				float:left;
				width:180px;
				padding:5px 0 0 0;
				font-size:18px;	
			}
			input.text {
				padding:4px 10px;
				width:100px;
				font-size:16px;
				font-weight:normal;
				border:none;
				background:#FFF !important;
				border:1px solid #CCC;
				@include roundedCorners(5px);
			}
			textarea {
				padding:4px 10px;
				width:400px;
				height:200px;
				font-size:16px;
				font-weight:normal;
				border:none;
				background:#FFF !important;
				border:1px solid #CCC;
				@include roundedCorners(5px);	
			}
			div.radios {
				float:left;
				width:200px;
				label {
					width:100px;
					padding:0;
				}
				input {
					margin-top:5px;
				}
			}
			.sbHolder {
				width:400px;
			}
		}
		div.rowSubmit {
			padding:20px 0 0 0;
			input {
				float:left;
				margin-right:30px;
			}
			span.required {
				padding-top:0;
			}
		}
	}
}