div#reviews {
	div.villa {
		padding:0 0 20px 0;
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		div.right {
			padding:0 0 0 125px;
			div.reviewDetails {
				padding:0 0 10px 0;
				h2 {
					padding:0;
					line-height:1em;
					font-weight:normal;
				}
			}
			div.reviews {
				div.review {
					padding:10px;
					margin:0 0 10px 0;
					border:1px solid #f0f0dd;
					background:#fafaf2;
					@include roundedCorners(5px);
					ul.options {
						float:right;
						padding:0 0 5px 0;
						li {
							float:left;
							padding:0 0 0 5px;
							a {
								font-size:16px;
								padding:5px 15px;
							}
							a.remove {
								background:#b45351;
							}
							a.remove:hover {
								background:#a94442;
							}
						}
					}
					span.approve {
						float:right;
						clear:right;
						padding:10px 0 0 0;
						a.button {
							padding:5px 15px;
							font-size:16px;
						}
						a.approve {
							background:#3cc05e;
						}
						a.approve:hover {
							background:#38b458;
						}
					}
					p.approved {
						display:inline-block;
						padding:3px 10px;
						margin:0 0 10px 0;
						font-size:16px;
						font-weight:bold;
						@include roundedCorners(5px);
						i {
							margin-right:10px;
						}
					}
					p.approvedPositive {
						color: $successColor;
						border:1px solid $successBorder;
						background:$successBackground;
						
					}
					p.approvedNegative {
						color: $errorColor;
						background: $errorBackground;
						border:1px solid $errorBorder;
					}
					ul {
						li {
							list-style:none;
							span {
								float:left;
								width:150px;
							}
							span.review {
								float:left;
								width:600px;
							}
							ul.stars {
								float:left;
								li {
									float:left;
									padding:0 5px 0 0;
								}
							}
						}
					}
				}
				/*div.review:last-child {
					margin:0;
					padding:0;
					background:none;
				}*/
			}
		}
	}
}