/*
# Villas
*/
div#main {
	div.title {
		/*padding:0 0 10px;*/
		margin:0 0 20px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		h1 {
			margin:0;
			padding:0 0 10px 0;
			background:none;
		}
		a.addItem,
		a.addVilla {
			float:right;
			padding:5px 20px;
			margin:0 0 15px 0;
			font-size:20px;
			cursor:pointer;
			font-weight:normal;
			font-size:20px;
			color:#f1f1f1;
			border:none;
			background:#3cc05e;
			@include boxShadow(5px, #CCC);
			@include roundedCorners(5px);
			@include transitionAllQuick();
		}
		a.addItem:hover,
		a.addVilla:hover {
			background:#38b458;
		}	
	}
}

div#villas {
	min-height:100px;
	padding:0 0 15px 0;
	div.villa {
		padding:0 5px 18px 0;
		margin:0 0 15px 0;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
		ul.options {
			float:right;
			margin:0 0 0 0;
			padding:0;
			li {
				float:left;
				list-style:none;
				a {
					display:inline-block;
					padding:5px 20px;
					font-weight:normal;
					font-size:16px;
					color:#FFF;
					background:#398bce;
					@include roundedCorners(5px);
				}
				a:hover {
					background:#2d6ea3;
				}
				a.remove {
					background:#b45351;
				}
				a.remove:hover {
					background:#a94442;
				}
			}
			li:first-child {
				padding-right:10px;
			}
		}
		div.thumb {
			float:left;
			position:relative;
			width:108px;
			height:90px;
			margin:0 20px 0 0;
			overflow:hidden;
			@include boxShadow(5px, #c4c2c2);
			span {
				position:absolute;
				left:0;
				top:0;
				display:block;
				width:100%;
				height:100%;
				-moz-transform: translate(50%,50%);
				-ms-transform: translate(50%,50%);
				-o-transform: translate(50%,50%);
				transform: translate(50%,50%);
				img {
					display:block;
					position:absolute;
					left:0;
					top:0;
					border:none;
					max-height:90px;
					width:auto;
					opacity:0.9;
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
			}
		}
		div.villaRight {
			padding:0 0 0 125px;
			h2 {
				padding:0 0 15px 0;
				font-weight:400;
			}
			div.villaDetails {
				padding:15px;
				border:1px solid #f0f0dd;
				background:#fafaf2;
				@include roundedCorners(5px);
				div.row {
					padding:10px 0  0 0;
					a.notificationsToggle {
						display:inline-block;
						padding:5px 15px;
						color:#FFF;
						background:#398bce;
						@include roundedCorners(5px);
						span.icon {
							width:10px;
							.fa-angle-down {
								display:none;
							}
						}
					}
					a.notificationsToggle:hover {
						background:#2d6ea3;
					}
				}
				ul.notifications {
					display:none;
					padding:10px 0 0 0;
					li {
						padding:0 0 10px 0;
						list-style:none;
						a {
							text-decoration:underline;
						}
					}
					li:last-child {
						padding:0;
					}
				}
			}
			div.showNotifications {
				div.row {
					a.notificationsToggle {
						span.icon {
							.fa-angle-down {
								display:block;
								margin-top:4px;
							}
							.fa-angle-right {
								display:none;
							}
						}
					}
				}
				ul.notifications {
					display:block;
				}
			}
			div.alert {
				display:inline-block;
				padding:3px 10px;
				margin:0 15px 0 0;
				font-size:16px;
				font-weight:bold;
				font-family:"Open Sans Condensed",sans-serif;
			}
			h4 {
				padding-bottom:0;
				font-size:16px;
				font-weight:normal;
			}
		}
		div.enquiries {
			float:right;
			width:250px;
			padding:10px;
			border:1px solid #fbeed5;
			background:#fcf8e3;
			@include roundedCorners(5px);
			a.villaViewEnquiries {
				display:block;
				color:#c09853;
			}
			a.villaViewEnquiries:hover {
				color:#d0b688;
			}
			h2 {
				font-size:16px;
			}
			p {
				font-weight:normal;
				font-size:14px;
			}
			span.up {
				display:block;
			}
			ul {
				padding:15px 0 0 0;
				display:none;
				li {
					list-style:none;
					a {
						font-weight:normal;
						font-size:14px;
					}
				}
			}
		}
		div.enquiries.open {
			span.up {
				display:none;
			}
			span.down {
				display:block;
			}
			ul {
				display:block;
			}

		}
	}
}
/*
# Edit Villa
*/
ul#editVillaTabs {
	padding:0 0 10px 20px;
	li {
		float:left;
		margin:0 10px 0 0;
		list-style:none;
		a {
			display:block;
			padding:10px 20px;
			font-size:24px;
			font-weight:normal;
			color:#FFF;
			background:#398bce;
			@include roundedCorners(5px);
		}
		a:hover {
			color:#65727a;
			color:#FFF;
			background:#2d6ea3;
		}
		a.current {
			color:#f1f1f1;
			background:#65727a;
		}
	}
}
div#editVilla {
	min-height:500px;
	padding:40px 20px 20px 20px;
	div.columns {
		border-top:1px solid #FFF;
		div.column {
			float:left;
			width:50%
		}
	}
	div.row {
		position:relative;
		padding:15px 0 15px 0;
		border-bottom:1px solid #DDD;
		a.info {
			position:absolute;
			left:178px;
			top:22px;
			display:block;
			width:20px;
			text-align:center;
			color:#398bce;
			div {
				display:none;
			}
		}
		a.info:hover {
			color:#2d6ea3;
		}
		span.label,
		label {
			float:left;
			width:170px;
			margin:0 30px 0 0;
			padding:7px 0 0 0;
			font-size:20px;
			font-weight:normal;
		}
		input.text {
			display:block;
			padding:5px 10px;
			width:400px;
			font-size:20px;
			font-weight:normal;
			border:none;
			background:#FFF !important;
			border:1px solid #CCC;
			@include roundedCorners(5px);
		}
		input.price {
			width:80px;
		}
		textarea {
			display:block;
			padding:5px 10px;
			width:600px;
			height:300px;
			font-size:16px;
			font-weight:normal;
			border:none;
			background:#FFF !important;
			border:1px solid #CCC;
			@include roundedCorners(5px);
		}
		textarea.summary {
			height:100px;
		}
		textarea.facility {
			height:100px;
		}
		div.radio {
			float:left;
			width:100px;
			padding:0 20px 0 0;
			label {
				float:left;
				width:20px;
				padding:0;
			}
			input {
				margin:13px 0 0 0;
			}
		}
	}
	div.row.error {
		input.text,
		textarea {
		    color: $errorColor;
		    background: $errorBackground !important;
		    border:1px solid $errorBorder;
		}
	}
	div.prices {
		div.row {
			span {
				float:left;
				clear:left;
			}
		}
	}
	div.row:first-child {
		border-top:none;
	}
	div.rowSubmit {
		border-bottom:none;
		input {
			display:inline-block;
			padding:6px 12px;
			font-size:26px;
			color:#f1f1f1;
			cursor:pointer;
			border:none;
			background:#398bce;
			@include roundedCorners(5px);
			@include transitionAllQuick();
		}
		input:hover {
			background:#2d6ea3;
		}
	}
	div#editImages {
		float:left;
		width:750px;
		margin:0 0 30px 0;
	}
	a.helpButton {
		float:right;
		display:inline-block;
		padding:6px 20px;
		margin:0 0 10px 0;
		font-size:20px;
		color:#f1f1f1;
		cursor:pointer;
		border:none;
		background:#398bce;
		@include roundedCorners(5px);
		@include transitionAllQuick();
		div {
			display:none;
		}
	}
	a.helpButton:hover {
		background:#2d6ea3;
	}
	div.imageControls {
		float:right;
		width:150px;
	}
	div#editVillaImagesAjaxResponse {
		clear:both;
	}
	div.progress {
		display:none;
		background-color: #f5f5f5;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
		height: 20px;
		margin-bottom: 20px;
		overflow: hidden;
		.progress-bar {
			background-color: #428bca;
			box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
			color: #fff;
			float: left;
			font-size: 12px;
			height: 100%;
			line-height: 20px;
			text-align: center;
			transition: width 0.6s ease 0s;
			width: 0;
		}
		.progress-bar-success {
			background-color:#5cb85c;
		}
	}

	span.fileinput-button {
		clear:left;
		-moz-user-select: none;	
		background-image: none;
		border: 1px solid transparent;
		cursor: pointer;
		display: inline-block;
		line-height: 1.42857;
		margin-bottom: 30px;
		padding: 6px 12px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		font-size:26px;
		font-weight:normal;
		color:#FFF;
		background:#398bce;
		/*@include boxShadow(5px, #CCC);*/
		@include roundedCorners(5px);
		@include transitionAllQuick();
	}
	span.fileinput-button:hover {
		background:#2d6ea3;
	}
	div#files div {
		float:left;
		width:150px;
		padding:0 0 20px 0;
	}
	div#files div button {
		display:inline-block;
		padding:4px 12px;
		font-size:16px;
		font-weight:normal;
		color:#f1f1f1;
		cursor:pointer;
		border:none;
		background:#398bce;
		/*@include boxShadow(5px, #CCC);*/
		@include roundedCorners(5px);
		/*@include transitionAllQuick();*/
	}
	div#files div button:hover {
		background:#2d6ea3;
	}
	div#files div span {
		display:none;
	}
	input#fileupload {
		display:block;
		font-size:16px;
	}

	div.editImage {
		float:left;
		margin:0 20px 20px 0;
		width:120px;
		div.thumb {
			float:none;
			position:relative;
			height:90px;
			margin:0 0 10px 0;
			overflow:hidden;
			@include boxShadow(5px, #c4c2c2);
			span {
				position:absolute;
				left:0;
				top:0;
				display:block;
				width:100%;
				height:100%;
				-moz-transform: translate(50%,50%);
				-ms-transform: translate(50%,50%);
				-o-transform: translate(50%,50%);
				transform: translate(50%,50%);
				img {
					display:block;
					position:absolute;
					left:0;
					top:0;
					border:none;
					max-height:90px;
					width:auto;
					opacity:0.9;
					-moz-transform: translate(-50%,-50%);
					-ms-transform: translate(-50%,-50%);
					-o-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
					-webkit-transition: all 0.3s ease;
					-moz-transition: all 0.3s ease;
					-o-transition: all 0.3s ease;
					transition: all 0.3s ease;
				}
			}
		}
	}
	div.editImage {
		span.baseImage {
			display:block;
			text-align:center;
			font-weight:normal;
			font-size:13px;
			i {
				color:#66bb00;
			}
		}
		a {
			display:block;
			text-align:center;
			font-weight:normal;
			font-size:13px;
		}
	}
	div#files {
		clear:both;
	}
	div#calendarSuccess {
		display:none;
		p {
			font-size:20px;
		}
	}
	div.calendarControls {
		float:right;
		width:200px;
		a.helpButton {
			margin:0 0 10px 0;
		}
		ul {
			clear:right;
			padding:0 0 10px 0;
			li {
				padding:10px 10px;
				margin:0 0 5px 0;
				cursor:pointer;
				list-style:none;
				background:#f1f1f1;
				@include roundedCorners(5px);
				@include transitionAllQuick();
				div.isSelected {
					float:left;
					width:20px;
					i.fa-check {
						display:none;
					}
				}
				div.icon {
					float:left;
					width:15px;
					height:15px;
					margin:5px 10px 0 0;
				}
				div.booked {
					background:#f39456;
				}
				div.changeOverAM {
					background:url('/assets/images/sprite/sprite.png') no-repeat -50px -50px;
				}
				div.changeOverPM {
					background:url('/assets/images/sprite/sprite.png') no-repeat -5px -50px;
				}
				span.label {
					float:right;
					width:133px;
					span {
						display:block;
					}
				}
			}
			li:hover {
				color:#8a6d3b;
				background:#fcf8e3;
			}
			li.selected {
				color:#3c763d;
				background:#dff0d8;
				div.isSelected {
					i.fa-check {
						display:block;
						margin:3px 0 0 0;
					}
					i.fa-dot-circle-o {
						display:none;
					}
				}
			}
		}
		a#saveCalendar {
			display:block;
			padding:6px 12px;
			font-size:26px;
			font-weight:normal;
			color:#FFF;
			text-align:center;
			cursor:pointer;
			border:none;
			background:#398bce;
			@include boxShadow(5px, #CCC);
			@include roundedCorners(5px);
			@include transitionAllQuick();
		}
		a#saveCalendar:hover {
			background:#2d6ea3;
		}
		a#saveCalendar.grey {
			opacity:0.7;
			cursor:default;
			background:#65727a;
			&hover {
				background:#65727a;
			}
		}
	}
	div.calendars {
		float:left;
		width:700px;
		div.calendar {
			float:left;
			width:150px;
			height:190px;
			margin:0 10px 10px 0;
			table {
				border-collapse:collapse;
				background:#f1f1f1;
				td {
					width:18px;
					height:15px;
					padding:0;
					text-align:center;
					font-size:15px;
					font-weight:normal;
					border:1px solid #FFF;
					div {
						cursor:pointer;
						@include transitionAllQuick();
					}
					div:hover {
						color:#FFF;
						background:#65727a;
					}
					div.booked {
						color:#FFF;
						background:#f39456;
					}
					div.changeOverAM {
						color:#FFF;
						background:#65727a url('/assets/images/sprite/sprite.png') no-repeat -50px -48px;
					}
					div.changeOverPM {
						color:#FFF;
						background:#65727a url('/assets/images/sprite/sprite.png') no-repeat -2px -48px;
					}
				}
			}
		}
	}
	div.buttonHolder {
		clear:both;
		margin:0 0 0 0;
		padding:30px 0 0 0;
		background:url('/assets/images/bg-dots.png') repeat-x top left;


	}
}
div#createVilla {
	p {
		padding:0 0 30px 0;
		font-size:15px;
		font-weight:normal;
	}
	div.row {
		padding:0 0 20px 0;
		label {
			display:block;
			padding:0 0 10px 0;
			font-size:22px;
		}
		input.text {
			display:block;
			padding:5px 10px;
			width:400px;
			font-size:20px;
			border:1px solid #CCC;
			@include roundedCorners(5px);
		}
	}
	div.rowSubmit {
		input {
			padding:8px 20px;
			font-size:30px;
			cursor:pointer;
			font-weight:normal;
			font-size:20px;
			color:#f1f1f1;
			border:none;
			background:#3cc05e;
			@include boxShadow(5px, #CCC);
			@include roundedCorners(5px);
			@include transitionAllQuick();
		}
		input:hover {
			background:#38b458;
		}
	}
}
section.deleteVilla {
	h4.removeNote {
		padding:0 0 30px 0;
		color:#b45351;
	}
	div.row {
		padding:0 0 20px 0;
		label {
			display:block;
			padding:0 0 20px 0;
		}
		input#password {
			display:block;
			padding:5px 10px;
			width:400px;
			font-size:20px;
			border:1px solid #CCC;
			@include roundedCorners(5px);
		}
	}
}