section#advertise:after
 {
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}

/*
# Advertise
*/
div#advertise {
	padding:20px;
	/*max-width:840px;*/
	margin:0 auto 25px auto;
	background:#FFF;
	@include roundedCorners(5px);
	@include boxShadow(5px, #dddddd);
}
div#advertiseForm {
	padding:40px 0;
	min-height:500px;
	/*div.constrain {
		width:800px;
		margin:0 auto;
	}*/
	h2 {
		padding:0 0 30px 0;
		text-align:center;
		font-weight:normal;
		font-family:'Dancing Script', cursive;
		color:#9fc0db;
	}
	div.columns {
		padding:0 0 50px 0;
		div.col {
			float:left;
			width:33%;
			padding:0 20px;
			text-align:center;
			p.icon {
				display:block;
				width:130px;
				height:130px;
				margin:0 auto 30px auto;
				font-size:80px;
				color:#f1f1f1;
				background:#398bce;
				@include roundedCorners(75px);
			}
			h3 {
				font-weight:normal;
				font-size:16px;
			}
		}
	}
	p {
		padding:0 0 15px 0;
		font-size:14px;
		font-weight:normal;
	}
	form {
		max-width:500px;
		margin:0 auto;
		input.text {
			width:100%;
			font-size:30px;
		}
	}
	div.row {
		padding:0 0 15px 0;
		label {
			display:block;
			padding:0 0 10px 0;
			font-size:26px;
			/*color:#f39456;*/
		}
	}
	div.rowPassword input,
	div.row input.text {
		display:block;
		width:100%;
		padding:4px 10px;
		margin:0 0 15px 0;
		font-size:26px;
		line-height:1.4em;
		border:1px solid #DCDCDC;
		background:#fff;
		@include roundedCorners(5px);
	}
	div.surname {
		display:none;
	}
	div.error {
		input,
		input.text {
			color:#a94442;
			border:1px solid #ebccd1;
			background:#f2dede;
		}
	}
	div.rowSubmit {
		text-align:center;
		input {
			display:inline-block;
			color:#f1f1f1;
			font-size:30px;
			font-weight:normal;
			padding:10px 40px;
			cursor:pointer;
			border:none;
			background:#398bce;
			@include roundedCorners(5px);
			@include boxShadow(5px, #cccccc);
			@include transitionAllQuick();
		}
		input:hover {
			background:#2d6ea3;
		}
	}
}

@media screen and (max-width: 1043px) {

}
@media screen and (max-width: 961px) {
}
@media screen and (max-width: 787px) {
	div#advertiseForm {
		div.columns {
			div.col {
				float:none;
				width:100%;
				padding:0 0 20px 0;
			}
		}
	}
}
@media screen and (max-width: 480px) {

}