/*
# Alerts
*/
div.alert {
    padding:10px 15px;
    margin:0 0 20px 0;
    color:#c09853;
    font-size:15px;
    font-weight:bold;
    border:1px solid #faebcc;
    background:#fcf8e3;
    @include roundedCorners(5px);
}
div.alertError {
    padding:10px 15px;
    margin:0 0 20px 0;
    color: $errorColor;
    background: $errorBackground;
    border:1px solid $errorBorder;
    @include roundedCorners(5px);
    h4 {
        font-size:20px;
        font-weight:normal;
        padding:0 0 20px 0;
    }
    ul {
        li {
            padding:0 0 10px 0;
            list-style:none;
            i {
                margin-right:10px;
            }
        }
    }
    p {
        padding:0;
        margin:0;
    }
}
div.alertSuccess {
    padding:10px 15px;
    margin:0 0 20px 0;
    color: $successColor;
    border:1px solid $successBorder;
    background:$successBackground;
    @include roundedCorners(5px);
    h4 {
        font-size:20px;
        font-weight:normal;
    }
}
