/*
# Footer
*/
footer {
	padding:0;
	background:#38444a;
	font-weight:normal;
	@include boxShadow(5px, #ccc);
	color:#daeef4;
	div.center {
		padding:25px 20px;
	}
	div.footerLinks {
		padding:0 0 20px 0;
		div.quickLinks {
			float:left;
			width:25%;
			padding-right:30px;
			ul.owners {
				padding:0 0 15px 0;
			}
		}
		div.communities {
			float:right;
			width:75%;
			ul {
				float:left;
				width:33%;
			}
		}
		ul {
			li {
				list-style:none;
				a {
					color:#daeef4;
				}
				a:hover {
					color:#f39456;
				}
			}
		}
	}
	h2 {
		padding:0 0 10px 0;
		margin:0 0 10px 0;
		font-weight:normal;
		font-family:'Dancing Script', cursive;
		background:url('/assets/images/bg-dots.png') repeat-x bottom left;
	}
	div.footerBottom {
		margin:0 auto;
		padding:10px 0;
		text-align:center;
		background:url('/assets/images/bg-dots.png') repeat-x top left;
		span {
			font-size:16px;
		}
		a {
			color:#daeef4;
		}
	}
}
@media screen and (max-width: 1023px) {
	footer {
		div.footerLinks {
			div.quickLinks {
				float:none;
				width:auto;
				padding:0 0 20px 0;
				div.col {
					float:left;
					width:50%;
				}
			}
			div.communities {
				float:none;
				width:100%;
			}
		}
	}
}
@media screen and (max-width: 961px) {
}
@media screen and (max-width: 767px) {
	footer {
		div.footerLinks {
			div.communities {
				ul {
					float:none;
					width:100%;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	footer {
		div.quickLinks {
			div.col {
				float:none;
				width:auto;
			}
		}
	}
}