/*
# Header
*/
header {
	/*position:fixed;
	position:absolute;
	top:0;*/
	position:relative;
	width:100%;
	min-height:90px;
	padding:0;
	z-index:100;
	@include gradient(#398bce, #5da3dd);
	@include boxShadow(5px, #333);
	@include transitionAllQuick();
	z-index:99;
	a#logo {
		float:left;
		margin:30px 0 20px 0;
		img {
			display:block;
			max-width:100%;
		}
	}
	ul.topNav {
		float:right;
		padding:0 0 25px 0;
		li.open {
			div.drop {
				display:block;
			}
		}
		li {
			position:relative;
			float:left;
			padding:0 10px 0 0;
			list-style:none;
			a {
				font-weight:normal;
				font-size:16px;
				color:#FFF;
			}

		}
	}
	div#shortList {
		position:relative;
		float:right;
		margin:10px 0 10px 0;
		padding:0 0 10px 0;
		.fa-angle-down {
			display:none;
		}
		.fa-angle-right {
			display:inline;
		}
		a.shortListButton {
		    font-size: 16px;
		    font-weight:normal;
		    padding:7px 5px 10px 10px;
		    color:#FFF;
		    border:none;
			box-shadow:none;
			span.icon {
				float:left;
				width:8px;
				margin-right:0;
			}
		}
		div.drop {
			display:none;
			position:absolute;
			right:0;
			top:40px;
			width:400px;
			padding:15px 15px;
			border:1px solid #FFF;
			background:#fafaf2;
			@include boxShadow(5px,  #999);
			@include roundedCorners(5px);
			a.close {
				position:absolute;
				right:15px;
				top:15px;
				display:block;
				font-size:14px;
				padding:1px 6px 2px 6px;
				text-shadow:none;
				color:#f1f1f1;
				background:#65727a;
				@include transitionAllQuick();
				@include roundedCorners(5px);
			}
			a.close:hover {
				background:#505e66;
			}
			h2 {
				padding:0 0 15px 0;
				margin:0 0 14px 0;
				font-size:22px;
				font-weight:normal;
				color:#9fc0db;
				font-family:'Dancing Script', cursive;
				background:url('/assets/images/bg-dots.png') repeat-x bottom left;
			}
			p {
				font-size:16px;
				font-weight:normal;
			}
			div#shortListHTML {
				div.villa {
					position:relative;
					padding:0 0 20px 0;
					margin:0 0 15px 0;
					background:url('/assets/images/bg-dots.png') repeat-x bottom left;
					div.thumb {
						position:relative;
						float:left;
						width:108px;
						height:90px;
						margin:0 20px 0 0;
						overflow:hidden;
						@include boxShadow(5px, #c4c2c2);
						a {
							position:absolute;
							left:0;
							top:0;
							width:100%;
							height:100%;
							display:block;
							-moz-transform: translate(50%,50%);
							-ms-transform: translate(50%,50%);
							-o-transform: translate(50%,50%);
							transform: translate(50%,50%);
							img {
								display:block;
								position:absolute;
								left:0;
								top:0;
								border:none;
								max-height:90px;
								width:auto;
								opacity:0.9;
								-moz-transform: translate(-50%,-50%);
								-ms-transform: translate(-50%,-50%);
								-o-transform: translate(-50%,-50%);
								transform: translate(-50%,-50%);
								-webkit-transition: all 0.3s ease;
								-moz-transition: all 0.3s ease;
								-o-transition: all 0.3s ease;
								transition: all 0.3s ease;
							}
						}
					}
					a.remove {
						position:absolute;
						right:0;
						bottom:20px;
						padding:3px 10px;
						display:inline-block;
						color:#FFF;
						font-size:14px;
						font-weight:normal;
						text-shadow:none;
						background:#398bce;
						@include roundedCorners(5px);
					}
					a.remove:hover {
						background:#2d6ea3;
					}
					h4 {
						font-weight:normal;
						font-size:22px;
					}
				}
			}
			p.viewAll {
				text-align:center;
				a {
					display:inline-block;
					font-size:14px;
					padding:3px 20px;
					text-shadow:none;
					font-weight:normal;
					font-size:18px;
					color:#f1f1f1;
					background:#398bce;
					@include transitionAllQuick();
					@include roundedCorners(5px);
				}
				a:hover {
					background:#2d6ea3;
				}
			}
		}
		div.drop:before {
			position:absolute;
			right:20px;
			top:-13px;
			content:"";
			width:19px;
			height:13px;
			background:url('/assets/images/bg-drop-arrow.png') no-repeat top left;
		}

	}
	div#shortList.open {
		.fa-angle-down {
			display:inline;
		}
		.fa-angle-right {
			display:none;
		}
		div.drop {
			display:block;
		}
	}
	a#mobileNav {
		display:none;
	}
	nav {
		clear:right;
		float:right;
		padding:0 0 15px 0;
		@include transitionAllQuick();
		a#closeMobileNav {
			display:none;
		}
		ul {
			float:right;
			padding:0 10px 0 0;
			li {
				float:left;
				padding:0 0 0 20px;
				list-style:none;
				a {
					display:block;
					line-height:1em;
					padding:1px 2px;
					font-size:20px;
					font-weight:normal;
					color:#FFF;
					@include transitionAllQuick();
					@include roundedCorners(5px);
				}
				a:hover {
					color:#f1f1f1;
				}
				div.drop {
					display:none;
				}
			}
		}
	}
}
header.offset {
	opacity:0.8;
}
header.offset:hover {
	opacity:0.95;
	opacity:1;
}
header.darkerShadow {
	@include boxShadow(5px, #333);
}
@media screen and (max-width: 767px) {
	header {
		a#logo {
			width:200px;
		}
	}
}
@media screen and (max-width: 788px) {
	header {
		a#logo {
			width:200px;
		}
		a#mobileNav {
			margin:35px 20px 0 0;
			display:block;
			float:right;
			clear:right;
			width:21px;
			height:16px;
			background:url('/assets/images/sprite/sprite.png') no-repeat top left;
			font-size:40px;
			color:#FFF;
			i {
				display:none;
			}
			i.fa-times {
				margin-top:7px;
				display:none;
			}
		}
		div#shortList {
			display:none;
		}
		nav {
			display:none;
			position:fixed;
			left:0;
			top:90px;
			width:100%;
			padding:0 0 20px 0;
			background:#398bce;
			z-index:500;
			a#closeMobileNav {
				position:absolute;
				right:50%;
				top:10px;
				margin-right:-150px;
				display:block;
				font-size:30px;
				color:#daeef4;
				text-shadow:2px 2px #333;
			}
			ul {
				float:none;
				width:100%;
				margin:0;
				padding:0;
				li {
					float:none;
					padding:0;
					border-bottom:1px solid #4796d6;
					a {
						display:block;
						margin:0 auto;
						padding:15px 0;
						text-align:center;
						font-size:22px;
						color:#daeef4;
						border-bottom:1px solid #3284c6;
						span {
							display:block;
							width:320px;
							margin:0 auto;
							padding:0 20px;
						}
					}
					a:hover {
						color:#daeef4;
					}
				}
				li:last-child {
					border:none;
					a {
						border:none;
					}
				}
			}
		}
	}
	header.open {
		a#mobileNav {
			background:url('/assets/images/sprite/sprite.png') no-repeat -50px 0;
			/*i {
				display:none;
			}
			i.fa-times {
				display:block;
			}*/
		}
		nav {
			display:block;
		}
	}
	body.loggedIn {
		header {
			nav {
				top:116px;
			}
		}
	}
}
@media screen and (max-width: 480px) {
	header {
		box-shadow:none;
	}
}

/*
# Owner Header
*/
div#ownerHeader {
	color:#daeef4;
	padding:0;
	text-shadow:1px 1px 3px #333;
	background:#38444a;
	p.welcome {
		float:left;
		padding:8px 0 0 0;
		color:#daeef4;
		font-weight:normal;
		text-shadow:1px 1px 3px #333;
	}
	ul#ownerNav {
		float:right;
		li {
			position:relative;
			float:left;
			padding:8px 0 8px 15px;
			position:relative;
			list-style:none;
			z-index:400;
			a {
				color:#daeef4;
				font-weight:normal;
				text-shadow:1px 1px 3px #333;
				span.newEnquiries {
					position:relative;
					top:-5px;
					display:inline-block;
					line-height:1em;
					padding:1px 3px;
					color:#FFF;
					text-shadow:none;
					font-weight:bold;
					background:#f39456;
					@include roundedCorners(3px);
				}
			}
			a:hover {
				color:#f39456;
				text-decoration:none;
			}
			ul {
				display:none;
				position:absolute;
				left:0;
				top:34px;
				padding:10px 0 0 0;
				width:150px;
				background:#38444a;
				li {
					float:none;
					margin:0;
					padding:0;
					border-bottom:1px solid #3e4a50;
					a {
						display:block;
						padding:5px 15px;
						border-bottom:1px solid #313d43;
					}
				}
			}
		}
		li:hover {
			ul {
				display:block;
			}
		}
	}
}
@media screen and (max-width: 787px) {
	div#ownerHeader {
		ul#ownerNav {
			li {
				display:none;
			}
			li.mobile {
				display:block;
			}
		}
	}
}
div#ownerHeader ul#ownerNav div.dropEnquiries ul li a:hover {
	text-decoration:underline;
}