/*
# Login Window
*/
div.loginWindow {
	position:fixed;
	left:50%;
	top:100px;
	margin-left:-220px;
	width:400px;
	min-height:100px;
	padding:20px;
	background-color: #FCF8E3;
	border: 1px solid #FFF;
	z-index:9999;
	@include roundedCorners(6px);
	@include boxShadow(5px, #333);
	a.close {
		float:right;
		color:#f1f1f1;
		font-size:14px;
		padding:1px 6px 2px 6px;
		background:#65727a;
		@include roundedCorners(5px);
	}
	a.close:hover {
		background:#505e66;
	}
	h2 {
		padding:0 0 15px 0;
		font-size:18px;
		font-weight:normal;
		border-bottom:1px solid #f2edd2;
	}
	form {
		padding:20px 0 0 0;
		border-top:1px solid #FFF;
		border-bottom:1px solid #f2edd2;
		div.row {
			padding:0 0 20px 0;
			label {
				float:left;
				padding:7px 0 0 0;
				font-size:16px;
				width:100px;
			}
			input.text {
				float:left;
				width:222px;
				font-size:16px;
				padding:4px 10px;
				border:1px solid #DCDCDC;
				background:#FFF !important;
				@include roundedCorners(5px);
			}
			span.error {
			    float:right;
			    padding:7px 0 0;
			    color:#b94a48;
			    display:none;
			}
			span.success {
			    float:right;
			    padding:7px 0 0;
			    color:#468847;
			    display:none;
			}
		}
		div.error {
			span.error {
				display:inline;
			}
		}
		div.success {
			span.success {
				display:inline;
			}
		}
		div.rowSubmit {
			padding-top:20px;
			input {
				margin-right:20px;
				font-size:16px;
			}
		}
		div.errors {
			position:relative;
			clear:both;
			float:right;
			color:#B94A48;
			margin:15px 37px 0 25%;
			padding:3px 10px;
			border:1px solid #EED3D7;
			background-color: #F2DEDE;
			@include roundedCorners(3px);
		}
		div.errors:before {
			position: absolute;
			right:20px;
			top:-12px;
			content:"";
			height:12px;
			width:23px;
			background: url("http://www.floridavillas192.com/_images/bg-error-arrow.png") no-repeat scroll left top;
		}
	}
	p.onwer {
		padding:15px 0 0 0;
		font-size:14px;
		border-top:1px solid #FFF;
	}
}



