/*
# Overlay
*/
div.overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background-color: rgba(black, 0.7);
	zoom:1;
	z-index:9991;
}
div.overlayDarker {
	background-color: rgba(black, 0.9);
}