div#villaThumbs {
  div.villa {
    float:left;
    width:200px;
    height:160px;
    margin:0 20px 20px 0;
    @include boxShadow(5px, #c4c2c2);
    div.thumb {
      position:relative;
      width:200px;
      height:160px;
      overflow:hidden;
      a {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        display:block;
        -moz-transform: translate(50%,50%);
        -ms-transform: translate(50%,50%);
        -o-transform: translate(50%,50%);
        transform: translate(50%,50%);
        img {
          position:absolute;
          left:0;
          top:0;
          max-height:160px;
          width:auto;
          display:block;
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
        }
      }
    }
  }
}


 /* div.thumb {
    position:relative;
    float:left;
    width:108px;
    height:90px;
    margin:0 10px 10px 0;
    overflow:hidden;
    border:1px solid #FFF;
    @include boxShadow(5px, #c4c2c2);
    a {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      display:block;
      -moz-transform: translate(50%,50%);
      -ms-transform: translate(50%,50%);
      -o-transform: translate(50%,50%);
      transform: translate(50%,50%);
      img {
        display:block;
        position:absolute;
        left:0;
        top:0;
        border:none;
        max-height:90px;
        width:auto;
        opacity:0.9;
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }*/