/*
# Features Style Sheet
*/

@import 'constants';

div.enquiry:after,
div.enquiry ul:after,
div#villas div.villa:after,
ul#editVillaTabs:after,
div#editImages:after,
div#editVilla div.tab:after,
div#editVilla div.columns:after,
div#files:after
 {
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}

/*
# Account
*/
section#dashboard {
	div.section {
		position:relative;
		float:left;
		width:32%;
		min-height:300px;
		margin-right:2%;
		padding:15px 20px;
		border:1px solid #FFF;
		background:#fafaf2;
		@include boxShadow(5px, #CCC);
		@include roundedCorners(5px);
		a.viewAll {
			position:absolute;
			right:10px;
			bottom:10px;
			font-size:14px;
		}
		a.edit,
		a.cancelEdit {
			position:absolute;
			right:10px;
			top:10px;
			font-weight:bold;
			font-size:14px;
			display:none;
		}
		a.edit:hover,
		a.cancelEdit:hover {
			text-decoration:underline;
		}
		a#saveAccountDetails {
			position:absolute;
			right:10px;
			bottom:10px;
			font-weight:bold;
			font-size:14px;
			display:none;	
		}
		span#editUsername input {
			font-size:14px;
			color:#f39456 !important;
			border:none;
			background:#FFF !important;
		}
		h2 {
			padding:0 0 20px 0;
			margin:0 0 20px 0;
			background:url("/assets/images/bg-dots.png") repeat-x left bottom;
		}
	}
	div.section:hover {
		a.edit {
			display:block;
		}
	}
	div.editMode:hover {
		a.edit {
			display:none;
		}
		a.cancelEdit {
			display:block;
		}
	}
	div.section:last-child {
		margin-right:0;
	}
	ul {
		li {
			padding:0 0 15px 0;
			font-size:14px;
			list-style:none;
			span.label {
				float:left;
				width:60px;
			}
		}
	}
	div.enquiries {
		ul {
			li {
			padding:0 0 5px 0;
			a:hover {
				text-decoration:underline;
			}
		}
	}
}


section#dashboard div.villas div.villa {
	padding:0 0 20px 0;
}
section#dashboard div.villas div.villa h3 {
	padding:0 0 5px 0;
	font-size:16px;
}

div#ownerHeader ul#ownerNav li div.drop ul li div.villa ul li,
section#dashboard div.villas div.villa ul li {
	padding:0 0 5px 0;
}
div#ownerHeader div.villa ul li a,
section#dashboard div.villas div.villa ul li a {
	font-size:14px;
}
section#dashboard div.villas div.villa ul li {
	padding:0 10px 0 0;
	float:left;
	list-style:none;
}
section#dashboard div.villas div.villa ul li a {
	font-weight:normal;
	font-size:14px;
}
/*
# Enquiries
*/
div#enquiries {
	min-height:100px;
	padding:15px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
}

section#dashboard div.enquiry ul li.email,
section#dashboard div.enquiry ul li.villa,
section#dashboard div.enquiry ul li.enquiry {
	display:none;
}
section#dashboard div.enquiry ul li span.label {
	display:none;
}
section#dashboard div.enquiry ul li.name {
	width:180px;
}
div.enquiry ul {
	padding:5px;
	border-bottom:1px solid #FFF;
	border-top:1px solid #efefdf;
}
div.enquiry:first-child ul {
	border-top:none;
}
div.enquiry a.deleteEnquiry {
	float:left;
	margin:3px 15px 0 0;
}
div.enquiry ul li {
	float:left;
	width:100px;
	padding:0 10px 0 0;
	font-size:14px;
	list-style:none;
}
div#enquiries ul li span.label {
	display:none;
}
div.enquiry ul li.date {
	width:100px;
}
div.enquiry ul li.name {
	width:200px;
}
div.enquiry ul li.email {
	width:300px;
}
div.enquiry ul li.villa {
	width:295px;
}
div.enquiry ul li.enquiry {
	display:none;
}
div.enquiry p {
	font-size:14px;
	font-weight:normal;
}
div.enquiryWindow {
	position:fixed;
	left:50%;
	top:200px;
	margin-left:-200px;
	width:400px;
	min-height:100px;
	padding:0;
	text-align:left;
	background-color: #FAFAF2;
	border: 1px solid #FBEED5;
	z-index:9999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(5px, #999);
	@include roundedCorners(5px);
}
div.enquiryWindow a.close,
div.enquiryWindow a.cancel {
	position:absolute;
	right:10px;
	top:10px;
	display:block;
	padding:2px 8px;
	font-weight:bold;
	font-size:16px;
	color:#c09853;
	border:1px solid #fbeed5;
	background:#fcf8e3;
	@include roundedCorners(5px);
}
div.enquiryWindow a.close:hover,
div.enquiryWindow a.cancel:hover {
	color:#d0b688;
}
div.enquiryWindow h2 {
	padding:10px 20px;
	margin:0;
	font-size:18px;
	border-bottom:1px solid #fff;
}
div.enquiryWindow p {
	padding:10px 20px;
	font-weight:normal;
	font-size:16px;
}
div.enquiryWindow p.description {
	border-top:1px solid #efefdf;
}
div.enquiryWindow p.deleteOptions {
	padding:10px 20px 20px 20px;
	text-align:right;
}
div.enquiryWindow p.deleteOptions a {
	display:inline-block;
	padding:5px 10px;
	margin-left:10px;
	font-weight:bold;
	text-shadow:none;
	color:#f1f1f1;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
div.enquiryWindow p.deleteOptions a:hover {
	background:#505e66;
}
div.enquiryWindow ul {
	padding:10px 20px;
	border-top:1px solid #efefdf;
}
div.enquiryWindow ul li {
	padding:0 0 10px 0;
	font-weight:normal;
	font-size:16px;
	list-style:none;
}
div.enquiryWindow ul li span.label {
	float:left;
	width:150px;
}
div.enquiryWindow ul li.enquiry span.label {
	display:block;
	padding:0 0 15px 0;
	float:none;
}
div.enquiryWindow a.button {
	display:block;
	width:120px;
	text-align:center;
	margin:0 auto;
}

/*
# Villas
*/
a.addVilla {
	float:right;
	padding:5px 10px;
	font-size:20px;
	color:#f1f1f1;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
a.addVilla:hover {
	background:#505e66;
}
div#villas {
	min-height:100px;
	padding:15px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
}
div#villas div.villa {
	padding:13px 5px 13px 5px;
	margin:0;
	border-bottom:1px solid #FFF;
	border-top:1px solid #efefdf;
}
div#villas div.villa:first-child {
	border-top:none;
}
div#villas div.villa ul.options {
	float:right;
	margin:0 0 0 20px;
	padding:10px;
	border:1px solid #fbeed5;
	background:#fcf8e3;
	@include roundedCorners(5px);
}
div#villas div.villa ul.options li {
	float:left;
	list-style:none;
}
div#villas div.villa ul.options li:first-child {
	padding-right:10px;
}
div#villas div.villa ul.options li a {
	font-weight:bold;
	color:#c09853;
}
div#villas div.villa ul.options li a:hover {
	color:#d0b688;
}
div#villas div.thumb {
	float:left;
	position:relative;
	width:108px;
	height:90px;
	margin:0 20px 0 0;
	overflow:hidden;
	border:1px solid #FFF;
	@include boxShadow(5px, #c4c2c2);
}
div#villas div.thumb span {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
div#villas div.villa div.villaDetails {
	float:left;
}
div#villas div.villa div.villaDetails h2 {
	font-size:20px;
	padding:0 0 20px 0;
}
div#villas div.villa div.villaDetails div.alert {
	display:inline-block;
	padding:5px 10px;
	margin:0;
}
div#villas div.villa div.villaDetails h4 {
	padding-bottom:0;
	font-size:16px;
}
div#villas div.thumb span img {
	display:block;
	position:absolute;
	left:0;
	top:0;
	border:none;
	max-height:90px;
	width:auto;
	opacity:0.9;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#villas div.enquiries {
	float:right;
	width:250px;
	padding:10px;
	border:1px solid #fbeed5;
	background:#fcf8e3;
	@include roundedCorners(5px);
}
div#villas div.enquiries a.villaViewEnquiries {
	display:block;
	color:#c09853;
}
div#villas div.enquiries a.villaViewEnquiries:hover {
	color:#d0b688;
}
div#villas h2 {
	font-size:16px;
}
div#villas div.enquiries p {
	font-weight:normal;
	font-size:14px;
}
div#villas div.enquiries span.up {
	display:block;
}
div#villas div.enquiries span.down {
	display:none;
}
div#villas div.enquiries.open span.up {
	display:none;
}
div#villas div.enquiries.open span.down {
	display:block;
}
div#villas div.enquiries ul {
	padding:15px 0 0 0;
	display:none;
}
div#villas div.enquiries.open ul {
	display:block;
}
div#villas div.enquiries ul li {
	list-style:none;
}
div#villas div.enquiries ul li a {
	font-weight:normal;
	font-size:14px;
}

/*
# Edit Villa
*/
ul#editVillaTabs {
	padding:0 0 10px 0px;
}
ul#editVillaTabs li {
	float:left;
	margin:0 10px 0 0;
	list-style:none;
}
ul#editVillaTabs li a {
	display:block;
	padding:10px 20px;
	font-size:24px;
	background:#fafaf2;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	transition:none;
}
ul#editVillaTabs li a.current {
	color:#f1f1f1;
	background:#65727a;
}
div#editVilla {
	min-height:500px;
	padding:40px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
}
div#editVilla div.columns {
	border-top:1px solid #FFF;
}
div#editVilla div.column {
	float:left;
	width:50%
}
div#editVilla div.row {
	padding:15px 0 15px 0;
	border-top:1px solid #FFF;
	border-bottom:1px solid #efefdf;
}
div#editVilla div.row:first-child {
	border-top:none;
}
div#editVilla div.rowSubmit {
	border-bottom:none;
}
div#editVilla div.row span.label,
div#editVilla div.row label {
	float:left;
	width:200px;
	padding:7px 0 0 0;
	font-size:20px;
}
div#editVilla div.row input.text {
	display:block;
	padding:5px 10px;
	width:400px;
	font-size:20px;
	border:none;
	background:#FFF !important;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
}
div#editVilla div.row input.price {
	width:80px;
}
div#editVilla div.row textarea {
	display:block;
	padding:5px 10px;
	width:600px;
	height:300px;
	font-size:16px;
	font-weight:normal;
	border:none;
	background:#FFF !important;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
}
div#editVilla div.row div.radio {
	float:left;
	width:100px;
}
div#editVilla div.rowSubmit input {
	display:inline-block;
	padding:6px 12px;
	font-size:26px;
	font-weight:bold;
	color:#f1f1f1;
	cursor:pointer;
	border:none;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
div#editVilla div.rowSubmit input:hover {
	background:#505e66;
}
span.fileinput-button {
	-moz-user-select: none;
	
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	line-height: 1.42857;
	margin-bottom: 30px;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	font-size:26px;
	font-weight:bold;
	color:#f1f1f1;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
span.fileinput-button:hover {
	background:#505e66;
}
div#files div {
	float:left;
	width:150px;
	padding:0 0 20px 0;
}
div#files div button {
	display:inline-block;
	padding:6px 12px;
	font-size:20px;
	font-weight:bold;
	color:#f1f1f1;
	cursor:pointer;
	border:none;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
div#files div span {
	display:none;
}
div#editVilla input#fileupload {
	display:block;
	font-size:16px;
}
div#editVilla div#editImages {
	margin:0 0 30px 0;
}
div#editVilla div.editImage {
	float:left;
	margin:0 20px 20px 0;
	width:120px;
}
div#editVilla div.editImage div.thumb {
	position:relative;
	height:90px;
	margin:0 0 10px 0;
	overflow:hidden;
	border:1px solid #FFF;
	@include boxShadow(5px, #c4c2c2);
}
div#editVilla div.editImage div.thumb span {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
div#editVilla div.editImage div.thumb span img {
	display:block;
	position:absolute;
	left:0;
	top:0;
	border:none;
	max-height:90px;
	width:auto;
	opacity:0.9;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#editVilla div.editImage span.baseImage,
div#editVilla div.editImage a {
	display:block;
	text-align:center;
	font-weight:normal;
	font-size:13px;
}
div#editVilla div#editVillaImagesAjaxResponse {
	min-height:50px;
	margin:0 0 20px 0;
}
div#editVilla div.calendar {
	float:left;
	width:197px;
	margin:0 20px 20px 0;
}
div#editVilla div.calendar table td {
	padding:2px 5px;
	text-align:center;
}
div#editVilla div.calendar table td div {
	cursor:pointer;
}
div#editVilla div.calendar table td div.booked {
	color:#FFF;
	background:#f39456;
}
div#editVilla div.buttonHolder {
	clear:both;
	margin:20px 0 0 0;
	padding:20px 0 0 0;
	background:url('/assets/images/bg-dots.png') repeat-x top left;
}
div#editVilla div.buttonHolder a {
	display:none;
	padding:6px 12px;
	font-size:26px;
	font-weight:bold;
	color:#f1f1f1;
	cursor:pointer;
	border:none;
	background:#65727a;
	@include boxShadow(5px, #CCC);
	@include roundedCorners(5px);
	@include transitionAllQuick();
}
div#editVilla div.buttonHolder a:hover {
	background:#505e66;
}