/*
# Villas
*/
div.adminVilla {
	position:relative;
	float:left;
	width:230px;
	height:200px;
	margin:0 15px 15px 0;
	overflow:hidden;
	background:#f1f1f1;
}
div.adminVilla span.image {
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:100%;
	height:100%;
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
div.adminVilla span.image img {
	position:absolute;
	display:block;
	left:0;
	top:0;
	border:none;
	max-height:200px;
	width:auto;
	opacity:0.9;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
div.adminVilla:hover span.image img {
	opacity:0.5;
}
div.adminVilla span.noImage {
	position:absolute;
	left:0;
	top:0;
	display:block;
	padding:70px 0 0 0;
	text-align:center;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
div.adminVilla div.adminVillaOverlay {
	position:absolute;
	left:0px;
	bottom:-200px;
	width:230px;
	height:200px;
	padding:10px 20px;
	background:rgba(51, 51, 51, 0.8);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div.adminVilla:hover div.adminVillaOverlay {
	bottom:0;
}
div.adminVilla div.adminVillaOverlay h2 {
	padding:0 0 15px 0;
}
div.adminVilla div.adminVillaOverlay h2 a {
	font-weight:bold;
	font-size:18px;
	color:#f1f1f1;
}
div.adminVilla div.adminVillaOverlay h3 a {
	font-weight:bold;
	font-size:15px;
	color:#f1f1f1;
}
div.adminVilla div.adminVillaOverlay h2 a:hover,
div.adminVilla div.adminVillaOverlay h3 a:hover {
	color:#F39456;
}