/*
# Features Style Sheet
*/

@import 'constants';

/*
# Main
*/
div#main {
	padding:142px 0 50px 0;
}
body.loggedIn div#main {
	padding-top:170px;
}
div#main h1 {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;	
}



/*
# Search
****************************************************************
*/

/*
# Search Side
*/
div#searchSide {
	float:left;
	width:25%;
	padding:5px 15px 20px 0;
	margin:0 0 15px 0;
	background:url('/assets/images/bg-dots.png') repeat-y top right;
}
div#searchSide div.check {
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#searchSide div.row {
	padding:0 0 10px 0;
}

div#searchSide h2 {
	padding:0 0 15px 0;
	font-size:16px;
}
div#searchSide div.check label {
	display:inline-block;
	position:relative;
	padding:0 15px 0 40px;
	margin:0 10px 0 0;
	font-size:14px;
	font-weight:normal;
	cursor:pointer;
	text-align:center;
   	@include roundedCorners(3px);
	-webkit-transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	transition: padding 0.3s ease;
}
div#searchSide div.check label:hover {
	opacity:0.9;
}
div#searchSide div.check label i {
	position:absolute;
	left:10px;
	top:3px;
	font-size:14px;
	@include transitionAllQuick();
}
div#searchSide div.check label i.fa-check {
	display:none;
	color:#66BB00;
}
div#searchSide div.check label.selected i.fa-check {
	display:block;
}
div#searchSide div.check label i.fa-square-o {
	display:block;
}
div#searchSide div.check label.selected i.fa-square-o {
	display:none;
}
div#searchSide div.dates p {
	padding:0 0 20px 0;
	font-weight:normal;
	font-size:15px;
}
div#searchSide div.dates label {
	float:left;
	width:50px;
	padding:10px 0 0 0;
	font-weight:normal;
	font-size:14px;
}
div#searchSide div.dates input {
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
	width:120px;
	border:1px solid #DCDCDC;
	background:#FFF;
}
div#ui-datepicker-div {
	display:none;
	padding:10px 15px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(7px, #b3b4b5);
	@include roundedCorners(5px);
}
div#ui-datepicker-div:before {
	position:absolute;
	left:20px;
	top:-13px;
	content:"";
	width:19px;
	height:13px;
	background:url('/assets/images/bg-drop-arrow.png') no-repeat top left;
}
div#ui-datepicker-div a.ui-datepicker-prev {
	float:left;
	cursor:pointer;
}
div#ui-datepicker-div a.ui-datepicker-next {
	float:right;
	cursor:pointer;
}
div.ui-datepicker-title {
	padding:0 0 10px 0;
	text-align:center;
}
div#ui-datepicker-div table td {
	padding:0 4px;
}
/*
# Search Results
*/
/*
# Search Results
*/
div#orderBy {
	position:relative;
	float:right;
	z-index:10;
}
div#orderBy span.orderByLabel {
	padding:0 20px 0 0;
}
div#orderBy a.button span#orderBySpan {
	display:inline;
	float:none;
	font-size:15px;
}
div#orderBy div.drop {
	position:absolute;
	right:0;
	top:40px;
	display:none;
	width:210px;
	padding:15px;
	border:1px solid #FFF;
	background:#fafaf2;
	@include boxShadow(7px, #b3b4b5);
	@include roundedCorners(5px);
	z-index:11;
}
div#orderBy div.drop:before {
	position:absolute;
	right:20px;
	top:-13px;
	content:"";
	width:19px;
	height:13px;
	background:url('/assets/images/bg-drop-arrow.png') no-repeat top left;
}
div#orderBy div.drop ul li {
	padding:0 0 5px 0;
	list-style:none;
}
div#orderBy div.drop ul li:last-child {
	padding-bottom:0;
}
div#orderBy div.drop ul li a {
	font-size:15px;
	text-decoration:none;
}

/*div.filters {
	padding:20px;
	background:url('/_images/bg-row-dots.gif') repeat-x bottom left;
}
div.filters select {
	float:right;
}*/
div#searchResults {
	float:right;
	width:72%;
}
div#searchResults div.villa {
	position:relative;
	padding:20px 0 30px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#searchResults div.villa div.image {
	position:relative;
	float:left;
	margin:2px 0 0 0;
	width:30%;
	overflow:hidden;
	border:1px solid #FFF;
	@include boxShadow(5px, #c4c2c2);
	@include transitionAllQuick();
}
div#searchResults div.villa div.image div.options {
	position:absolute;
	left:0;
	top:200px;
	width:100%;
	height:200px;
	/*opacity:0;*/
	padding:5px 10px 6px 10px;
	background:#d0e5f5;
	background: rgba(208, 229, 245, 0.8);
	@include transitionAllQuick();
}
div#searchResults div.villa div.image:hover div.options {
	opacity:1;
	top:0;
}
div#searchResults div.villa div.image a.villaImagesOpen {
	display:block;
	padding:30px 0 0 0;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
div#searchResults div.villa div.image:hover a.villaImagesOpen {
	opacity:1;
}
div#searchResults div.villa div.image a.villaView {
	position:absolute;
	right:5px;
	bottom:5px;
	opacity:0;
	font-weight:bold;
	font-size:14px;
	@include transitionAllSlow();
}
div#searchResults div.villa div.image:hover a.villaView {
	opacity:1;
}
div#searchResults div.villa div.image:hover img {
	@include transitionAllQuick();
}
div#searchResults div.villa div.image:hover img {
	opacity:0.4;
}
/*div#searchResults div.villa div.image:hover div.options span {
	display:block;
}
div#searchResults div.villa div.image:hover div.options span span {
	display:inline;
	padding:0;
	font-weight:bold;
}*/
div#searchResults div.villa div.image:hover div.options a {
	font-size:15px;
	text-decoration:none;
}
div#searchResults div.villa div.image img {
	display:block;
	max-width:100%;
}
div#searchResults div.villa div.details {
	float:right;
	width:66%;
	z-index:1;
}
div#searchResults div.villa div.details div.bullets {
	overflow:hidden;
}
div#searchResults div.villa div.details div.bullets ul {
	float:left;
	width:31%;
}
div#searchResults div.villa div.details div.bullets ul li {
	padding:0 0 0 0;
	margin:0 0 5px 0;
	font-size:15px;
	font-weight:normal;
	list-style:none;
}
div#searchResults div.villa div.details div.bullets ul li i {
	margin-right:5px;
	color:#66bb00;
}
div#searchResults div.villa span.price {
	position:absolute;
	right:-20px;
	top:20px;
	width:84px;
	font-size:33px;
	line-height:1em;
	font-style:italic;
	font-weight:400;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Kristi', cursive;
	font-family: 'Euphoria Script', cursive;
	-ms-transform:rotate(-7deg); /* IE 9 */
	-webkit-transform:rotate(-7deg); /* Safari and Chrome */
	transform:rotate(-7deg);
}
div#searchResults div.villa span.price span {
	display:block;
	line-height:25px;
	color:#6299c3;
	color:#9fc0db;
}
div#searchResults div.villa h3 {
	padding:0 0 10px 0;
	margin:0;
}
div#searchResults div.villa h3 a {
	display:block;
	font-size:16px;
	line-height:1em;
	color:#6F7F87;
	text-decoration:none;
	@include transitionAllQuick();
}
div#searchResults div.villa h3 a:hover {
	color:#F39456;
}
div#searchResults div.villa h4 {
	padding:0 0 20px 0;
	font-size:16px;
	font-weight:normal;
	line-height:1em;
}
div#searchResults div.villa h4 a {
	color:#6F7F87;
	text-decoration:none;
	@include transitionAllQuick();
}
div#searchResults div.villa h4 a:hover {
	color:#F39456;
}
div#searchResults div.villa ul {
	float:left;
}
div#searchResults div.villa div.actions {
	position:absolute;
	right:0;
	bottom:20px;
	z-index:2;
}
div#searchResults div.villa div.actions a.shortList {
	padding:2px 5px;
	font-size:14px;
	color:#C09853;
	text-decoration:none;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    @include roundedCorners(4px);
}
div#searchResults div.villa div.actions a.shortList:hover {
	color:#d0b688
}
div#searchResults div.villa div.shortListed a.shortList {
	display:none;
}
div#searchResults div.villa div.actions span.shortListed {
	display:none;
	padding:2px 5px;
	font-size:14px;
	color:#C09853;
	color:#468847;
	border:1px solid #D6E9C6;
	background-color:#DFF0D8;
	@include roundedCorners(4px);
}
div#searchResults div.villa div.actions span.shortListed i {
	font-size:13px;
}
div#searchResults div.villa div.shortListed span.shortListed {
	display:block;
}