
/*
# Reset
*/
* {
	margin:0;
	padding:0;
}
/*
# Float Clearing
*/
header nav ul:after,
form div.row:after,
section.content:after,
div#villa div.section:after,
div#villa div#imagesSlider:after,
div#searchBar form:after,
div#searchDates div.row:after,
div#searchResults div.villa:after,
footer div.center:after
{
	content:".";
	clear:both;
	display:block;
	height:0;
	visibility:hidden;
}
/*
# Global
*/
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
	color:#65727A;
}
input {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:700;
	color:#65727A;	
}
div.center {
	max-width:1003px;
	margin:0 auto;
}
a {
	color:#65727A;
	text-decoration:none;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;	
}
a:hover {
	color:#F39456;	
}
a img {
	border:none;
}
.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d9ecfc) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #d9ecfc 100% );
	background: -ms-linear-gradient(top, #ffffff 5%,#d9ecfc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9ecfc');
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-size:15px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	cursor:pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	-webkit-box-shadow: 0 0 9px #c4c2c2;
	-moz-box-shadow: 0 0 9px #c4c2c2;
	-o-box-shadow: 0 0 9px #c4c2c2;
	box-shadow: 0 0 10px #d8d9d9;
}
.button:hover {
	color:#65727A;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f8fc), color-stop(1, #d0e5f5) );
	background:-moz-linear-gradient( center top, #f5f8fc 5%, #d0e5f5 100% );
	background:-moz-linear-gradient( center top, #f5f8fc 5%, #d0e5f5 100% );
	background: -ms-linear-gradient(top, #f5f8fc 5%,#d0e5f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f8fc', endColorstr='#c4ddf2');
	background-color:#d9ecfc;
}
/*
# Box Sizing
*/
*, *:before, *:after {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
/*
# Errors
*/
div.alertError {
    padding:20px 30px;
    margin:0 0 20px 0;
    color: #A94442;
    background: #F2DEDE;
    border:1px solid #EBCCD1;
   	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
div.alertError h4 {
	font-size:20px;
	padding:0 0 20px 0;
}
div.alertError ul li {
	padding:0 0 10px 0;
	list-style:none;
}
div.alertSuccess {
    padding:20px 30px;
    margin:0 0 20px 0;
	color: #3C763D;
	border:1px solid #D6E9C6;
	background:#DFF0D8;
   	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
div.alertSuccess h4 {
	font-size:20px;
}
/*
# Header
*/
header {
	position:fixed;
	top:0;
	width:100%;
	padding:0 0 0 0;
	background:linear-gradient(to bottom, #FDFEFF 0%, #D9ECFC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	z-index:100;
	/*opacity:0.8;*/
	text-shadow:1px 1px 3px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	-o-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
header.offset {
	opacity:0.8;
}
header.offset:hover {
	opacity:0.95;
}
header div.center {
	padding:0 20px;
}
header.darkerShadow {
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	-o-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #666;
}
header div#shortList {
	float:right;
}

header div#shortList a.button {
    border-radius: 0 0 5px 5px;
    font-size: 18px;
    padding: 7px 24px 10px;
}
header div#shortList div.drop {
	display:none;
}
header a#logo {
	float:left;
	/*width:100px;*/
	margin:30px 0 20px 0;
	/*height:100px;
	text-indent:-9999px;*/
	/*background:#65727A;*/
}
header nav {
	clear:right;
	float:right;
	padding:30px 0 15px 0;
}
header nav ul li {
	float:left;
	padding:0 0 0 20px;
	list-style:none;
}
header nav ul li a {
	font-size:18px;
}
header nav ul li a:hover {
	/*color:#65727A;*/
}
header nav ul li div.drop {
	display:none;
}
/*
# Home Banenrs
*/
div.homeBanner {
	position:relative;
	padding:0px 0 0 0;
	height:800px;
	overflow:hidden;
	z-index:10;
	background-position:center center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.homeBanner img {
	display:block;
	max-width:100%;
	display:none;
}
div.homeBanner div.text {
	position:absolute;
	right:0;
	top:60%;
	text-align:right;
	color:#FFF;
	opacity:0.8;
}
div.homeBanner div.text span {
	display:inline-block;
	line-height:0.6em;
	padding:0 10px;
	font-size:140px;
	font-weight:800;
	text-transform:uppercase;
	letter-spacing:-2px;
	/*background:linear-gradient(to bottom, #FDFEFF 0%, #D9ECFC 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	/*background:#D9ECFC;*/
}
div.homeBanner div.text span a {
	font-size:100px;
	color:#FFF;
}
/*
# Main
*/
h1 {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#main {
	margin:142px 0 0 0;
	padding:0 0 50px 0;
}
/*
# Central content with drop shadows
*/
/*.dropShadow {
	position:relative;
	background:#FFF;
}
.dropShadow:before, .dropShadow:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.2);
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.dropShadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}*/

/*
## Features
**************************************************************************************************************************************
*/
section.content {
	padding:0 20px;
}
/*
# Search Side
*/
section#search {
	min-height:500px;
}
div#searchSide {
	float:left;
	width:25%;
	padding:5px 15px 20px 0;
	margin:0 0 15px 0;
	background:url('http://www.floridavillas192.com/_images/bg-dots.png') repeat-y top right;
}
div#searchSide div.check {
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	background:url('http://www.floridavillas192.com/_images/bg-dots.png') repeat-x bottom left;
}
div#searchSide div.row {
	padding:0 0 10px 0;
}

div#searchSide h2 {
	padding:0 0 15px 0;
	font-size:16px;
}
div#searchSide div.check label {
	display:inline-block;
	position:relative;
	padding:0 15px 0 40px;
	/*line-height:35px;*/
	margin:0 10px 0 0;
	font-size:14px;
	font-weight:normal;
	/*color:#FFF;*/
	cursor:pointer;
	text-align:center;
	/*border:1px solid #f4a875;
	background:#f4a875;*/
   	-webkit-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	-webkit-transition: padding 0.3s ease;
	-moz-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	transition: padding 0.3s ease;
}
div#searchSide div.check label:hover {
	opacity:0.9;
}
div#searchSide div.check label i {
	position:absolute;
	left:10px;
	top:3px;
	font-size:14px;
	/*display:none;*/
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#searchSide div.check label i.fa-check {
	display:none;
	color:#66BB00;
}
div#searchSide div.check label.selected i.fa-check {
	display:block;
}
div#searchSide div.check label i.fa-square-o {
	display:block;
}
div#searchSide div.check label.selected i.fa-square-o {
	display:none;
}
div#searchSide div.dates p {
	padding:0 0 20px 0;
	font-weight:normal;
	font-size:15px;
}
div#searchSide div.dates label {
	float:left;
	width:50px;
	padding:10px 0 0 0;
	font-weight:normal;
	font-size:14px;
}
div#searchSide div.dates input {
	font-size:16px;
	font-weight:bold;
	padding:5px 10px;
	width:120px;
	border:1px solid #DCDCDC;
	background:#FFF;
}
div#ui-datepicker-div {
	display:none;
	padding:10px 15px;
	border:1px solid #FFF;
	background:#fafaf2;
	-webkit-box-shadow: 0 0 7px #b3b4b5;
	-moz-box-shadow: 0 0 7px #b3b4b5;
	-o-box-shadow: 0 0 7px #b3b4b5;
	box-shadow: 0 0 7px #b3b4b5;
	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;	
}
div#ui-datepicker-div:before {
	position:absolute;
	left:20px;
	top:-13px;
	content:"";
	width:19px;
	height:13px;
	background:url('/_images/bg-drop-arrow.png') no-repeat top left;
}
div#ui-datepicker-div a.ui-datepicker-prev {
	float:left;
	cursor:pointer;
}
div#ui-datepicker-div a.ui-datepicker-next {
	float:right;
	cursor:pointer;
}
div.ui-datepicker-title {
	padding:0 0 10px 0;
	text-align:center;
}
div#ui-datepicker-div table td {
	padding:0 4px;
}
/*
# Search Results
*/
div#orderBy {
	position:relative;
	float:right;
	z-index:10;
}
div#orderBy span.orderByLabel {
	padding:0 20px 0 0;
}


div#orderBy a.button span#orderBySpan {
	display:inline;
	float:none;
	font-size:15px;
}
div#orderBy div.drop {
	position:absolute;
	right:0;
	top:40px;
	display:none;
	width:210px;
	padding:15px;
	border:1px solid #FFF;
	background:#fafaf2;
	-webkit-box-shadow: 0 0 7px #b3b4b5;
	-moz-box-shadow: 0 0 7px #b3b4b5;
	-o-box-shadow: 0 0 7px #b3b4b5;
	box-shadow: 0 0 7px #b3b4b5;
	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	z-index:11;
}
div#orderBy div.drop:before {
	position:absolute;
	right:20px;
	top:-13px;
	content:"";
	width:19px;
	height:13px;
	background:url('/_images/bg-drop-arrow.png') no-repeat top left;
}
div#orderBy div.drop ul li {
	padding:0 0 5px 0;
	list-style:none;
}
div#orderBy div.drop ul li:last-child {
	padding-bottom:0;
}
div#orderBy div.drop ul li a {
	font-size:15px;
	text-decoration:none;
}

div#search {

}
div.filters {
	padding:20px;
	background:url('/_images/bg-row-dots.gif') repeat-x bottom left;
}
div.filters select {
	float:right;
}
div#searchResults {
	float:right;
	width:72%;
}
div#searchResults div.villa {
	position:relative;
	padding:20px 0 20px 0;
	background:url('http://www.floridavillas192.com/_images/bg-row-dots.gif') repeat-x bottom left;
}
div#searchResults div.villa div.image {
	position:relative;
	float:left;
	margin:2px 0 0 0;
	width:30%;
	overflow:hidden;
	border:1px solid #FFF;
	-webkit-box-shadow: 0 0 5px #c4c2c2;
	-moz-box-shadow: 0 0 5px #c4c2c2;
	-o-box-shadow: 0 0 5px #c4c2c2;
	box-shadow: 0 0 5px #c4c2c2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#searchResults div.villa div.image div.options {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:200px;
	/*height:30px;*/
	opacity:0;
	padding:5px 10px 6px 10px;
	background:#d0e5f5;
	background: rgba(208, 229, 245, 0.8);
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	transition: all 0.9s ease;
}
div#searchResults div.villa div.image:hover div.options {
	opacity:1;
}
div#searchResults div.villa div.image div.options a.villaImagesOpen {
	display:block;
	padding:30px 0 0 0;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
div#searchResults div.villa div.image:hover div.options a.villaImagesOpen {
	opacity:1;
}
div#searchResults div.villa div.image a.villaView {
	position:absolute;
	right:5px;
	bottom:5px;
	opacity:0;
	font-weight:bold;
	font-size:14px;
	-webkit-transition: all 0.9s ease;
	-moz-transition: all 0.9s ease;
	-o-transition: all 0.9s ease;
	transition: all 0.9s ease;
}
div#searchResults div.villa div.image:hover a.villaView {
	opacity:1;
}
div#searchResults div.villa div.image:hover img {
	opacity:0.4;
}
div#searchResults div.villa div.image:hover div.options span {
	display:block;
}
div#searchResults div.villa div.image:hover div.options span.divider {
	display:inline-block;
	width:10px;
	text-indent:-9999px;
	background:url('/_images/bg-dots.png') repeat-y top center;
}
div#searchResults div.villa div.image:hover div.options span span {
	display:inline;
	padding:0;
	font-weight:bold;
}
div#searchResults div.villa div.image:hover div.options a {
	font-size:15px;
	text-decoration:none;
}
div#searchResults div.villa div.image img {
	display:block;
	max-width:100%;
}

div#searchResults div.villa div.details {
	float:right;
	width:66%;
	z-index:1;
}
div#searchResults div.villa div.details div.bullets {
	overflow:hidden;
}
div#searchResults div.villa div.details div.bullets ul {
	float:left;
	width:31%;
}
div#searchResults div.villa div.details div.bullets ul li {
	padding:0 0 0 0;
	margin:0 0 5px 0;
	font-size:15px;
	font-weight:normal;
	list-style:none;
}
div#searchResults div.villa div.details div.bullets ul li i {
	margin-right:5px;
	color:#66bb00;
}
div#searchResults div.villa span.price {
	position:absolute;
	right:-20px;
	top:20px;
	width:84px;
	font-size:33px;
	line-height:1em;
	font-style:italic;
	font-weight:400;
	font-family: 'Just Another Hand', cursive;
	font-family: 'Pacifico', cursive;
	font-family: 'Courgette', cursive;
	font-family: 'Kristi', cursive;
	font-family: 'Euphoria Script', cursive;

-ms-transform:rotate(-7deg); /* IE 9 */
-webkit-transform:rotate(-7deg); /* Safari and Chrome */
transform:rotate(-7deg);
}
div#searchResults div.villa span.price span {
	display:block;
	line-height:25px;
	color:#6299c3;
	color:#9fc0db;
}
div#searchResults div.villa h3 {
	padding:0 0 10px 0;
	margin:0;
}
div#searchResults div.villa h3 a {
	display:block;
	font-size:16px;
	line-height:1em;
	color:#6F7F87;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#searchResults div.villa h3 a:hover {
	color:#F39456;
}
div#searchResults div.villa h4 {
	padding:0 0 20px 0;
	font-size:16px;
	font-weight:normal;
	line-height:1em;
}
div#searchResults div.villa h4 a {
	/*display:block;*/
	color:#6F7F87;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#searchResults div.villa h4 a:hover {
	color:#F39456;
}
div#searchResults div.villa ul {
	float:left;
}
div#searchResults div.villa div.actions {
	position:absolute;
	right:0;
	bottom:20px;
	z-index:2;
}
div#searchResults div.villa div.actions a.shortList {
	padding:2px 5px;
	font-size:14px;
	color:#C09853;
	text-decoration:none;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
}
div#searchResults div.villa div.actions a.shortList:hover {
	color:#d0b688
}
div#searchResults div.villa div.shortListed a.shortList {
	display:none;
}
div#searchResults div.villa div.actions span.shortListed {
	display:none;
	padding:2px 5px;
	font-size:14px;
	color:#C09853;
	color:#468847;
	border:1px solid #D6E9C6;
	background-color:#DFF0D8;
	border-radius: 4px 4px 4px 4px;
}
div#searchResults div.villa div.actions span.shortListed i {
	font-size:13px;
}
div#searchResults div.villa div.shortListed span.shortListed {
	display:block;
}

/*
# Advertise
*/
section#advertise {
	padding:0 40px;
	min-height:300px;
}
section#advertise p {
	padding:0 0 10px 0;
	font-weight:normal;
	font-size:14px;
}
section#advertise form {
	padding:40px 0 0 0;
}
section#advertise form div.row {
	padding:0 0 15px 0;
}
section#advertise form div.rowSubmit {
	padding-top:20px;
}
section#advertise form div.row label {
	float:left;
	width:150px;
	padding:7px 0 0 0;
	font-size:20px;
}
section#advertise form div.row input.text,
section#advertise form div.row input[type="password"] {
	float:left;
	width:350px;
	padding:5px 10px;
	font-size:20px;
	border:1px solid #E3EDF3;
	background:#FFF;
}


/*
# Villa
*/
div#villa {
	max-width:1000px;
	padding:20px;
	margin:0 auto 20px auto;
}
div#villa ul.options {
	float:right;
}
div#villa ul.options li {
	float:left;
	padding:0 0 0 5px;
	list-style:none;
}
div#villa ul.options li a {
	display:block;
	padding:0 7px 0 7px;
	line-height:20px;
	font-size:14px;
	color:#f1f1f1;
	color:#C09853;
	border:1px solid #FAEBCC;
	background:#FCF8E3;
   	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
div#villa ul.options li a:hover {
	color:#D0B688;
}
div#villa ul.options li a span {
	display:inline-block;
	padding-right:5px;
}
div#villa div.title {
	padding:0 0 8px 0;
	margin:0 0 10px 0;
	background:url('http://www.floridavillas192.com/_images/bg-dots.png') repeat-x bottom left;
}
div#villa div.title p {
	margin:0;
	padding:0 0 10px 0;
	font-weight:normal;
	font-size:15px;
}
div#villa div#images {
	float:left;
	width:345px; /* 300 / 1162 = 0.2581755593803787 */
	/*width:26.9%;*/
	padding:5px 0 0 0;
}
div#villa div#images div.mainImage {
	padding:0 0 10px 0;
}
div#villa div#images div.mainImage img {
	display:block;
	/*width:300px;*/
	max-width:100%;
	border:1px solid #FFF;
	-webkit-box-shadow: 0 0 5px #c4c2c2;
	-moz-box-shadow: 0 0 5px #c4c2c2;
	-o-box-shadow: 0 0 5px #c4c2c2;
	box-shadow: 0 0 5px #c4c2c2;
}
div#villa div#images div.imageCol {
	float:left;
	width:250px;
	margin:0 5px 0 0;
}

div#villa div.thumb {
	position:relative;
	float:left;
	width:108px;
	height:90px;
	margin:0 10px 10px 0;
	overflow:hidden;
	border:1px solid #FFF;
	-webkit-box-shadow: 0 0 5px #c4c2c2;
	-moz-box-shadow: 0 0 5px #c4c2c2;
	-o-box-shadow: 0 0 5px #c4c2c2;
	box-shadow: 0 0 5px #c4c2c2;
}
div#villa div.thumb a {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
div#villa div.thumb img {
	display:block;
	position:absolute;
	left:0;
	top:0;
	border:none;
	max-height:90px;
	width:auto;
	opacity:0.9;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#villa div#imagesSlider {
	/*width:87%;*/
	margin:0 auto;
}
div#villa div.details {
	padding:0 0 0 370px;
}
div#villa div.details div.more {
	display:none;
}
div#villa div.details h1 {
	margin:0;
	padding:0 0 10px 0;
	font-size:24px;
	background:none;
	text-shadow:1px 1px 3px #ccc;
}
div#villa div.details p.subHeading {
	margin:0 0 0 0;
	padding:0 0 15px 0;
	font-size:15px;
	font-weight:normal;
}
div#villa div.details div.name {
	padding:0 0 20px 0;
}
div#villa div.details h2 {
	padding:20px 0 10px 0;
	font-size:18px;
	text-shadow:1px 1px 3px #ccc;
	background:url('/_images/bg-row-dots.gif') repeat-x top left;
}
div#villa div.details h2 a {
	color:#65727A;
	text-decoration:none;
}
div#villa div.details h2 a:hover {
	color:#F39456;
	text-decoration:none;
}
div#villa div.details h3 {
	font-size:16px;
}
div#villa div#villaTabs ul.tabs {
	padding:5px 0 5px 0;
	min-height:50px;
}
div#villa div#villaTabs ul.tabs li {
	float:left;
	margin:0 5px 0 0;
	list-style:none;
}
div#villa div#villaTabs div.tab {
	border:1px solid #FFF;
	padding:20px;
	border:1px solid #dcdcdc;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}
div#villa div.details div.bullets {
	overflow:hidden;
}
div#villa div.details div.bullets ul {
	float:left;
}
div#villa div.details div.bullets ul:first-child {
	width:145px;
}
div#villa div.details div.bullets ul.amenities {
	width:370px;
}
div#villa div.details div.bullets ul li {
	float:left;
	padding:0 0 10px 0;
	font-size:18px;
	font-weight:bold;
	list-style:none;
	width:350px;
}
div#villa div.details div.bullets ul.amenities li {
	width:175px;
}
div#villa div.details div.bullets ul.amenities li i {
	margin-right:10px;
	color:#66BB00;
}
div#villa div.details ul.pricing {
	width:350px;
}
div#villa div.details ul.pricing li {
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	list-style:none;
	background:url('http://www.floridavillas192.com/_images/bg-row-dots.gif') repeat-x bottom left;
}
div#villa div.details ul.pricing li span.price {
	float:right;
	font-size:24px;
}
div#villa div.details ul.pricing li p {
	font-weight:normal;
}
div#villa div.details div.bullets ul li span {
	float:left;
	width:140px;
}
div#villa div.description {
	font-weight:normal;
	line-height:1.6em;
	font-size:15px;
	overflow:hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
div#villa div.section {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('http://www.floridavillas192.com/_images/bg-dots.png') repeat-x bottom left;
}
div#villa div.section h2 {
	padding:0 0 30px 0;
}
div#villa div#map {
	min-height:400px;
	margin:0 0 40px 0;
}
div#villa div.calendar {
	/*padding:0 0 0 1.6%;*/
	float:left;
	margin:0 15px 15px 0; 
	width:14.5%; /* 133 / 1162 = 0.1144578313253012 */
	width:147px;
	min-height:170px;
}
div#villa div.last {
	margin-right:0;
}
div#villa div.calendar table {
	font-size:14px;
	font-weight:normal;
}
div#villa div.calendar table th {
	padding:0 0 5px 0;
}
div#villa div.calendar table td {
	padding:0 3px;
	text-align:center;
}
div#villa div.calendar table td div.booked {
	color:#FFF;
	background:#F39456;
}
div#villa div#enquriyNote {
	/*float:left;
	width:320px;*/
	padding:0 600px 0 0;
}
div#villa div#enquiryForm {
	float:right;
	width:550px;
}
div#villa div#enquiryForm h2 {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('/_images/bg-row-dots.gif') repeat-x bottom left;
}
div#villa div#enquiryForm div.row {
	padding:0 0 15px 0;
	margin:0 0 15px 0;
	background:url('/_images/back-main-row.gif') repeat-x bottom left;
}
div#villa div#enquiryForm div.row label {
	width:150px;
}
div#villa div#enquiryForm div.row label span.required {
	color:#EE984C;
}
div#villa div#enquiryForm div.row textarea {
	padding:3px 5px;
	width:300px;
	height:100px;
	color:#65727A;
	font-family:'Open Sans Condensed',sans-serif;
	font-size:16px;
	font-weight:normal;
	border:1px solid #E3EDF3;
	background: none repeat scroll 0 0 #FFFFFF !important;
}
div#villa div#enquiryForm div.row span.error {
	display:none;
	color:#B94A48;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#villa div#enquiryForm div.row span.success {
	display:none;
	color:#66bb00;
	color:#468847;
}
div#villa div#enquiryForm div.success span.success {
	display:inline;
}
div#villa div#enquiryForm div.error span.error {
	display:inline;
}
div#villa div#enquiryForm div.errors {
    position:relative;
    padding:3px 10px;
    margin:15px 0 0 150px;
    width:288px;
    color:#B94A48;
    background-color: #F2DEDE;
    border:1px solid #EED3D7;
   	-webkit-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}
div#villa div#enquiryForm div.errors:before {
	position:absolute;
	right:20px;
	top:-12px;
	width:23px;
	height:12px;
	content:"";
	background:url('/_images/bg-error-arrow.png') no-repeat top left;
}
div#villa div#enquiryForm div.rowSubmit input {
	float:left;
	margin:0 25px 0 0;
}
div#villa div#enquiryForm div.rowSubmit h3 {
	font-size:16px;
}
div#villa div#enquiryForm div.rowSubmit span.required {
	color:#EE984C;
}
div#villaActions {
	position:fixed;
	right:-152px;
	top:200px;
	width:170px;
	padding:10px 15px 0 10px;
	color:#FFF;
	-webkit-radius:5px 0 0 5px;
	-moz-border-radius:10px 0 0 10px;
	-o-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border:1px solid #FFF;
	background:#fafaf2;
	background:#ee984c;
	-webkit-box-shadow: 0 0 7px #b3b4b5;
	-moz-box-shadow: 0 0 7px #b3b4b5;
	-o-box-shadow: 0 0 7px #b3b4b5;
	box-shadow: 0 0 7px #b3b4b5;
}
div#villaActions:hover {
	right:0;
	background:#F7FBFD;
	background:#FAFAF2;
}
div#villaActions a.sideCTA {
	display:block;
	margin:0 0 10px 0;
	text-decoration:none;
	padding:2px 5px;
	font-size:14px;
	color:#FCF8E3;
	border: 1px solid #FBEED5;
	text-decoration:none;
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    background:#ee984c;
    border:1px solid #ee984c;
}
div#villaActions:hover a.sideCTA,
div#villaActions:hover span.shortListed {
	color:#C09853;
	border: 1px solid #FBEED5;
	background-color: #FCF8E3;
}
div#villaActions a.sideCTA i {
	margin:0 15px 0 0;
}
div#villaActions a.shortList i {
	/*font-size:20px;*/
}
div#villaActions a.sideCTA:hover {
	color:#d0b688;
}
div#villaActions i.leftSide {
	position:absolute;
	left:10px;
	top:30%;
	font-size:30px;
	text-decoration:none;
	opacity:0.5;
}
div#villaActions:hover i.leftSide {
	color:#65727A;
}
div#villaActions span.shortListed {
	display:none;
	padding:2px 5px;
	margin:0 0 15px 0;
	font-size:14px;
}
div#villaActions:hover span.shortListed {
	color:#C09853;
	color:#468847;
	border:1px solid #D6E9C6;
	background-color:#DFF0D8;
	border-radius: 4px 4px 4px 4px;	
}
div#villaActions span.shortListed i {
	margin-right:15px;
}
div#villaActions.shortListed a.shortList {
	display:none;
}
div#villaActions.shortListed span.shortListed {
	display:block;
}

/*
# Overlay
*/
div.overlay {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:100%;
	height:100%;
	background:url('/_images/bg-overlay.png');
	zoom:1;
	z-index:9991;
}
div.window {
	position:fixed;
	left:50%;
	top:100px;
	margin-left:-220px;
	width:400px;
	min-height:100px;
	padding:20px;
	text-align:center;
	color: #C09853;
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	z-index:9999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-o-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;
}
div.window h2 {
	padding:0 0 20px 0;
	font-size:20px;
	color: #C09853;
}
div.window a {
	color: #C09853;
	text-decoration:none;
}
div.window a:hover {
	text-decoration:underline;
}
/*
# Footer
*/
footer {
	padding:0;
	background:#f1f1f1;
	background: #fdfeff;
	background: -moz-linear-gradient(top, #fdfeff 0%, #d9ecfc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfeff), color-stop(100%,#d9ecfc));
	background: -webkit-linear-gradient(top, #fdfeff 0%,#d9ecfc 100%);
	background: -o-linear-gradient(top, #fdfeff 0%,#d9ecfc 100%);
	background: -ms-linear-gradient(top, #fdfeff 0%,#d9ecfc 100%);
	background: linear-gradient(to bottom, #fdfeff 0%,#d9ecfc 100%);
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	-o-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
footer div.center {
	padding:25px 0;
}
footer div.quickLinks {
	float:left;
	width:25%;
	padding-right:30px;
}
footer div.quickLinks ul.owners {
	padding:0 0 15px 0;
}
footer h2 {
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	background:url('http://www.floridavillas192.com/_images/bg-dots.png') repeat-x bottom left;
}
footer div.communities {
	float:right;
	width:75%;
}
footer div.communities ul {
	float:left;
	width:33%;
}
footer ul li {
	list-style:none;
}