/*
# Features Style Sheet
*/

@import 'constants';

/*
# Villa
*/
div#villa div.section {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#villa ul.options {
	float:right;
}
div#villa ul.options li {
	float:left;
	padding:0 0 0 5px;
	list-style:none;
}
div#villa ul.options li a {
	display:block;
	padding:0 7px 0 7px;
	line-height:20px;
	font-size:14px;
	color:#f1f1f1;
	color:#C09853;
	border:1px solid #FAEBCC;
	background:#FCF8E3;
   	@include roundedCorners(5px);
}
div#villa ul.options li a:hover {
	color:#D0B688;
}
div#villa ul.options li a span {
	display:inline-block;
	padding-right:5px;
}
div#villa div.title {
	padding:0 0 8px 0;
	margin:0 0 10px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#villa div.title h1 {
	margin:0;
	padding:0;
	background:none;
}
div#villa div.title p {
	margin:0;
	padding:0 0 10px 0;
	font-weight:normal;
	font-size:15px;
}
div#villa div#images {
	float:left;
	width:345px; /* 300 / 1162 = 0.2581755593803787 */
	/*width:26.9%;*/
	padding:5px 0 0 0;
}
div#villa div#images div.mainImage {
	padding:0 0 10px 0;
}
div#villa div#images div.mainImage img {
	display:block;
	/*width:300px;*/
	max-width:100%;
	border:1px solid #FFF;
	@include boxShadow(5px, #c4c2c2);
}
div#villa div.thumb {
	position:relative;
	float:left;
	width:108px;
	height:90px;
	margin:0 10px 10px 0;
	overflow:hidden;
	border:1px solid #FFF;
	@include boxShadow(5px, #c4c2c2);
}
div#villa div.thumb a {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
	-moz-transform: translate(50%,50%);
	-ms-transform: translate(50%,50%);
	-o-transform: translate(50%,50%);
	transform: translate(50%,50%);
}
div#villa div.thumb img {
	display:block;
	position:absolute;
	left:0;
	top:0;
	border:none;
	max-height:90px;
	width:auto;
	opacity:0.9;
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
div#villa div.details {
	padding:0 0 0 370px;
}
div#villa div#villaTabs ul.tabs {
	padding:5px 0 5px 0;
	min-height:50px;
}
div#villa div#villaTabs ul.tabs li {
	float:left;
	margin:0 5px 0 0;
	list-style:none;
}
div#villa div#villaTabs div.tab {
	border:1px solid #FFF;
	padding:20px;
	border:1px solid #dcdcdc;
	@include roundedCorners(6px);
}
div#villa div.details div.bullets {
	overflow:hidden;
}
div#villa div.details div.bullets ul {
	float:left;
}
div#villa div.details div.bullets ul:first-child {
	width:145px;
}
div#villa div.details div.bullets ul.amenities {
	width:370px;
}
div#villa div.details div.bullets ul li {
	float:left;
	padding:0 0 10px 0;
	font-size:18px;
	font-weight:bold;
	list-style:none;
	width:350px;
}
div#villa div.details div.bullets ul.amenities li {
	width:175px;
}
div#villa div.details div.bullets ul.amenities li i {
	margin-right:10px;
	color:#66BB00;
}
div#villa div.details ul.pricing {
	width:350px;
}
div#villa div.details ul.pricing li {
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	list-style:none;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#villa div.details ul.pricing li span.price {
	float:right;
	font-size:24px;
}
div#villa div.details ul.pricing li p {
	font-weight:normal;
}
div#villa div.details div.bullets ul li span {
	float:left;
	width:140px;
}
div#villa div.description {
	font-weight:normal;
	line-height:1.6em;
	font-size:15px;
	overflow:hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
div#imagesSlider {
	padding-left:12px;
}
div#villa div#map {
	min-height:400px;
	margin:0 0 40px 0;
}
div#villa div.calendar {
	/*padding:0 0 0 1.6%;*/
	float:left;
	margin:0 15px 15px 0; 
	width:14.5%; /* 133 / 1162 = 0.1144578313253012 */
	width:141px;
	min-height:170px;
}
div#villa div.last {
	margin-right:0;
}
div#villa div.calendar table {
	font-size:14px;
	font-weight:normal;
}
div#villa div.calendar table th {
	padding:0 0 5px 0;
}
div#villa div.calendar table td {
	padding:0 3px;
	text-align:center;
}
div#villa div.calendar table td div.booked {
	color:#FFF;
	background:#F39456;
}
div#villa div#enquiryForm {
	float:right;
	width:50%;
	padding:15px 0 15px 30px;
	background:url('/assets/images/bg-dots.png') repeat-y top left;
}
div#villa div#enquiryForm h2 {
	padding:0 0 20px 0;
	margin:0 0 20px 0;
	background:url('/assets/images/bg-dots.png') repeat-x bottom left;
}
div#villa div#enquiryForm div.row {
	padding:0 0 12px 0;
	margin:0 0 0 0;
	/*background:url('/assets/images/bg-dots.png') repeat-x bottom left;*/
}
div#villa div#enquiryForm div.row label {
	float:left;
	width:25%;
	padding:7px 0 0 0;
}
div#villa div#enquiryForm div.row label span.required {
    color: #EE984C;
}
div#villa div#enquiryForm div.row input.text {
	float:left;
	width:70%;
	padding:4px 10px;
	margin:0 0 15px 0;
	font-size:20px;
	border:1px solid #DCDCDC;
	background:#fff;
	@include roundedCorners(5px);
}
div#villa div#enquiryForm div.row textarea {
	float:left;
	width:70%;
	height:200px;
	padding:8px 10px;
	margin:0 0 15px 0;
	font-size:14px;
	font-weight:normal;
	border:1px solid #DCDCDC;
	background:#fff;
	@include roundedCorners(5px);
}
div#villa div#enquiryForm div.row span.error {
	float:right;
	padding:7px 0 0 0;
	display:none;
	color:#B94A48;	
}
div#villa div#enquiryForm div.errors:before {
	position: absolute;
	right:20px;
	top:-12px;
	content:"";
	height:12px;
	width:23px;
	background: url("http://www.floridavillas192.com/_images/bg-error-arrow.png") no-repeat scroll left top;
}
div#villa div#enquiryForm div.error span.error {
	display:inline;
}
div#villa div#enquiryForm div.row span.success {
	float:right;
	padding:7px 0 0 0;
	display:none;
	color:#468847;
}
div#villa div#enquiryForm div.success span.success {
	display:inline;
}
div#villa div#enquiryForm div.errors {
	position:relative;
	clear:both;
	color:#B94A48;
	margin:15px 0 0 25%;
	padding:3px 10px;
	width:70%;
	border:1px solid #EED3D7;
	background-color: #F2DEDE;
	@include roundedCorners(3px);
}
div#villa div#enquiryForm div.rowSubmit {
	padding-top:20px;
}
div#villa div#enquiryForm div.rowSubmit input {
	float:left;
	margin:0 25px 0 0;	
}
div#villa div#enquiryForm div.rowSubmit h3 {
    font-size: 16px;
}
div#villa div#enquiryForm div.rowSubmit span.required {
    color: #EE984C;
}
div#villa div#enquiryForm div.alertSuccess {
	padding:15px 25px;
}
div#villa div#enquiryForm div.alertSuccess h4 {
	padding:0 0 10px 0;
}