header {
	min-height:100px;
	padding:20px 30px;
	@include gradient(#398bce, #5da3dd);
	a#logo {
		float:left;
	}
	nav {
		float:left;
		clear:left;
		ul {
			li {
				float:left;
				padding:0 15px 0 0;
				list-style:none;
				a {
					color:#FFF;
					font-size:18px;
				}
				a:hover {
					color:#FFF;
				}
			}
		}
	}
}